[2021-08-27 05:49] sanposhiho opened #4 "unit test on GitHub Action"
let's do unit test(for backend) on GitHub Action

/assign

[2021-08-27 05:50] sanposhiho opened #5 "lint check on GitHub Action"
let's do lint check(for frontend/backend) on GitHub Action

/assign

[2021-08-30 04:33] sanposhiho opened #8 "Make it easy for users to add their custom plugins"
Currently, the simulator only supports default plugins.
But some users may want to try their custom plugins on the simulator.

- Describe in the documentation how to add a custom plugin to the simulator.
- Add some functions(or some option?) to register the custom plugins

/assign

[2021-08-30 04:34] sanposhiho commented on #8
/kind feature

[2021-08-30 04:36] sanposhiho commented on #8
/kind documentation

[2021-08-30 09:13] warmchang commented on #8
@sanposhiho thank you for this awesome project!

Here is a blank should be trim ('.dockerignore  '), otherwise the git clone don't work on windows.
(a small typo, so no need to open a separate issue to track. :smile: )
https://github.com/kubernetes-sigs/kube-scheduler-simulator/blob/master/.dockerignore%20%20

[code]

[2021-08-30 09:43] sanposhiho commented on #8
Hi @warmchang, thanks for reporting.
I'll fix it soon 🤦‍♂️

[2021-08-30 13:33] sanposhiho opened #10 "cannot see all of table and cannot even scroll when the browser width is small"
like this. In this example, we cannot see the result of some plugins because the width is not enough.

![スクリーンショット 2021-08-30 22 32 42](https://user-images.githubusercontent.com/44139130/131347290-390be374-c4b3-4f85-89dd-c91013797b8d.png)

/kind bug
/assign

[2021-08-30 13:47] sanposhiho opened #11 "restore the original settings and reboot scheduler when fail to restart scheduler with user-custom settings"
## Background

this simulator restart when user request to change the scheduler configuration.
Currently, when fail to restart with custom setting, the scheduler is dead until the user adapts the correct settings.

## new feature

restore the original settings and reboot scheduler when fail to restart scheduler with user-custom settings

[2021-08-30 13:57] sanposhiho commented on #11
/assign

[2021-08-30 14:01] sanposhiho opened #12 "failed to restart scheduler if specify .profiles.pluginConfig"
## how to reproduce

restart scheduler with specifying .profiles.pluginConfig

## log
[code]

/kind bug
/assign

[2021-08-30 14:02] sanposhiho commented on #11
/kind feature

[2021-08-31 12:41] #4 closed

[2021-08-31 13:30] sanposhiho opened #16 "scheduling result tables disappear from the page when user back from edit mode."
open pod's detail → switch to edit page → switch to non-edit page → scheduling result tables disappear from the page.

https://user-images.githubusercontent.com/44139130/131511142-be065538-1bcf-46f7-b15b-53df8a53f6c3.mov

/kind bug

[2021-08-31 13:38] sanposhiho opened #17 "simplify resource detail page (merge edit and non-edit page)"
Now, we have two mode on resouces detail page -- edit page and non-edit page.
But, these two pages show the almost same thing. I'd like to merge them into one page.

/kind cleanup

[2021-08-31 13:40] sanposhiho commented on #16
This issue may be unnecessary because of #17

/hold

[2021-09-01 06:30] sanposhiho commented on #5
/kind feature

We have to add GitHub Action for frontend lint check

[2021-09-01 06:31] sanposhiho commented on #11
/good-first-issue

[2021-09-01 06:32] sanposhiho commented on #11
/unassign

[2021-09-02 13:41] sanposhiho opened #19 "Provide images for simulator with k8s.gcr.io"
/kind feature
/cc @adtac
/cc @Huang-Wei
/cc @alculquicondor
/assign

Hi team.

## what want to do

add images for backend/frontend to k8s.gcr.io
- create PR on kubernetes/k8s.io
  - this doc helps us: https://github.com/kubernetes/k8s.io/tree/main/k8s.gcr.io
  - (like this pr?: https://github.com/kubernetes/k8s.io/pull/1431/files)
- push images with cloudbuild
  - this doc helps us: https://github

[2021-09-02 14:39] alculquicondor commented on #19
What other kind of requirements are you referring to?

I would image that the only people that need to approve are the OWNERS of kubernetes/k8s.io and kubernetes/test-infra

[2021-09-03 04:34] sanposhiho commented on #19
Thanks, so I can get theirs approves when I create the PRs.
I was just wondering if there are any special requirements since we will be using GCR resources. If not, it's OK. 👍

And we have to create a google group for push access. Who should we list?

https://github.com/kubernetes/k8s.io/tree/main/k8s.gcr.io#creating-staging-repos

[2021-09-03 14:30] alculquicondor commented on #19
Probably the same as the owners

[2021-09-03 14:47] sanposhiho commented on #19
Okay, I'll get your email addresses from the email list of sig/scheduling.

[2021-09-03 21:39] Huang-Wei commented on #19
@sanposhiho To promote an image to gcr.io, it's two-phased. First the CI job usually builds images on every commit / tag, to staging.gcr.io, and secondly, the project maintainer manually promotes some particular images as the public available ones to gcr.io.

For now you're in the first step, and you're right, you have to configure it in kubernetes/k8s.io, here is a snippet for scheduler-plugins:

[2021-09-06 17:22] sanposhiho commented on #19
@Huang-Wei
Got it. Thanks for the details.

[2021-09-09 14:56] sanposhiho opened #20 "Create release guide for kube-scheduler-simulator"
/kind documentation
/assign

We want to create a guide for how to release scheduler simulator.
the guide on scheduler-plugins: https://github.com/kubernetes-sigs/scheduler-plugins/blob/master/doc/release-guide.md

[2021-09-10 13:50] R4ZN1V commented on #11
Hey, I would like to work on this issue, still relevant?

[2021-09-11 12:19] sanposhiho commented on #11
Hi @R4ZN1V. feel free to open PR :)

[2021-09-12 02:49] sanposhiho opened #22 "First release simulator/v0.1.0"
/cc @adtac
/cc @Huang-Wei
/cc @alculquicondor
/assign

Hello team.
I'd like to release v0.1.0 after all bug-fix PRs are merged. So, PTAL when you are free. 🙇‍♂️

- [x] https://github.com/kubernetes-sigs/kube-scheduler-simulator/pull/18
- [x] https://github.com/kubernetes-sigs/kube-scheduler-simulator/pull/13
- [x] https://github.com/kubernetes-sigs/kube-scheduler-simulator/pull/9
- [x] https://git

[2021-09-14 06:44] tamboliasir1 commented on #11
@sanposhiho could you give a bit of an insight or how to start with it? If I get a little help, I guess I will be able to work on it.

[2021-09-14 15:03] sanposhiho commented on #11
scheduler is restartd on RestartScheduler
https://github.com/kubernetes-sigs/kube-scheduler-simulator/blob/master/scheduler/scheduler.go#L38

1. shutdown scheduler.
2. start scheduler with new configuration.

But, if 2 is failed, it returns error and scheduler will be not working after that.

scheduler configuration is stored on the field currentSchedulerCfg.
https://github.com/kubernetes-sigs/kub

[2021-09-14 15:14] tamboliasir1 commented on #11
/assign

[2021-09-15 17:08] sanposhiho opened #23 "can not connect to container of frontend with ERR_EMPTY_RESPONSE"
This issue is caused by the nuxt's default host configuration. (default: localhost)
We have to add host configuration on nuxt.config.ts or environment variables. (change it to 0.0.0.0)

https://nuxtjs.org/docs/configuration-glossary/configuration-server

/kind bug
/assign

[2021-09-23 02:54] p1ass commented on #23
/assign

[2021-09-23 02:55] sanposhiho commented on #23
/unassign

[2021-09-23 11:21] sanposhiho opened #26 "Add reset button to reset all resources and scheduler configuration"
Add reset button

- delete all resources
- change scheduler configuration to default one.

 need to change both frontend and backend.

/kind feature

[2021-09-27 08:59] sanposhiho opened #27 "support PriorityClass"
Now we don't support PriorityClass.

If you don't know about PriorityClass and preemption, see this doc: https://kubernetes.io/docs/concepts/scheduling-eviction/pod-priority-preemption/

We cannot simulate preemption without PriorityClass. So I'd like to add the feature to create/edit/delete PriorityClass.
The implementation may take some time because development of this feature requires changes b

[2021-09-27 08:59] sanposhiho commented on #27
/assign

[2021-09-28 17:19] sanposhiho opened #28 "Add feature to export/import current resources"
It would be nice if we can export the resources at that time and can import and restore the resources.

[2021-09-28 17:19] sanposhiho commented on #28
/kind feature

[2021-09-30 07:02] riita10069 opened #29 "`make docker_build_and_up` failed"
An error occurred when starting up the Kubernetes scheduler simulator using Docker.

### environment

- M1 MacBook Pro
- Docker for Mac (darwin/arm64)
- docker engine 20.10.8

### Command

[code]

### Error Message

[code]

### Comment

/kind bug

[2021-09-30 07:05] riita10069 commented on #29
I solved the problem by increasing the memory allocation limit to Docker for Mac.

Wouldn't it be better to describe this at https://github.com/kubernetes-sigs/kube-scheduler-simulator#run-with-docker?

[2021-09-30 07:16] sanposhiho commented on #29
feel free to open the pr, if you can :)

[2021-10-04 15:52] alculquicondor commented on #22
Could you also expand the `CONTRIBUTING.md` doc to guide developers? Like what are the main folders for, where are plugins located, etc.

I wonder if there should also be a way to run the simulator on a k8s cluster (as opposed to docker-compose)

[2021-10-13 04:39] sanposhiho commented on #8
Aha, sorry. You said about custom scheduler, not custom plugins.
I think if your custom scheduler has the same interface as the original scheduler, you can try your custom scheduler with the simulator by changing all internal import statements in the simulator to use your scheduler instead of the original scheduler.

[2021-10-19 10:24] msyhu opened #33 "cannot access to frontend(localhost:3000) when using command make docker_build_and_up"
Hello, I am very interested in this simulator.
However, when I do make docker_build_and_up , both the server and front containers work well, but I am unable to connect to the front (localhost:3000).
![image](https://user-images.githubusercontent.com/81010357/137891218-8a7a74b9-1743-414a-8efa-20a1907bba5d.png)

When I check the log, nothing shows up.
![image](https://user-images.githubusercontent.c

[2021-10-23 02:50] sanposhiho opened #34 "Feature: scenario to check the behaviour of scheduler without frontend"
Proof of Concept
https://github.com/sanposhiho/kube-scheduler-simulator-cli

With this, we can also simulate the scheduler without web UI.

see what I'd like to add on [README](https://github.com/sanposhiho/kube-scheduler-simulator-cli/README.md)

How and where to have the scenario written needs to be considered. In kube-scheduler-simulator-cli, we can write the scenario in [sched.go](https://gith

[2021-10-23 02:57] sanposhiho opened #35 "Feature: build scheduler from submodule implementation to make this simulator selectable scheduler version"
Proof of Concept
https://github.com/sanposhiho/kube-scheduler-simulator-cli

If we build the scheduler from submodule, we can change version of scheduler or even can change implementation with editing the submodule implementations.
This will be super helpful, users cannot change the version of scheduler on the simulator and we can debug the scheduler by changing the implementations. (I personally

[2021-11-01 03:04] sanposhiho commented on #27
/unassign

[2021-11-01 03:11] sanposhiho opened #37 "pass an initial scheduler configuration from CLI"
Users can change the scheduler configuration through Web UI.
But it would be nice if we can pass an initial scheduler configuration when we start the simulator.

/kind feature

[2021-11-04 08:02] sanposhiho opened #38 "cannot build Docker frontend due to error from nodejs"
This issue is due to https://github.com/webpack/webpack/issues/14532

[code]

## How to solve

I have confirmed that the solution described in [the issue](https://github.com/webpack/webpack/issues/14532) will solve the problem.

[2021-11-04 08:02] sanposhiho commented on #38
/kind bug

[2021-11-04 08:03] sanposhiho commented on #38
/assign

[2021-11-05 13:39] #29 closed

[2021-11-05 23:18] #23 closed

[2021-11-06 01:37] lianghao208 opened #41 "Feature: Simulate Pods scheduling process in any existing clusters"
Hi, I am new to this project (from scheduling-plugin sig). I learned about the kube-scheduler-simulator. In my option, this simulator only simulate pods scheduling process in a new simulation cluster, which means it can't simulate a real cluster for now(e.g production environment) . Is it possible to simulate pods in an already exist environment?
I am interesting in contributing to this project, m

[2021-11-08 00:51] sanposhiho commented on #41
Hi @lianghao208 :)

Currently, when you start the simulator, there are no resources on the simulator, and we have to create resources(pods, nodes, ...) one by one to simulate cluster.

#28 is one idea to enable user to export current resources **on the simulator** to some file and import resources with that file later.
But your idea is importing resources from **a real cluster**, right? That makes

[2021-11-08 01:26] sanposhiho opened #42 "make this simulator more like SDK to use the features of scheduler-simulator"
Currently, it is a little hard for users to import this simulator as library and use some features of this simulator.
That's both a problem of internal structure of simulator and a problem of lack of documentation.

- [ ] user can easily run scheduler, api-server and pv-controller through SDK.
- [ ] user can use the mechanism to check scheduling results (filtering result/score/score after normaliz

[2021-11-08 01:29] lianghao208 commented on #41
Yes, my idea is to import a real cluster's etcd data (etcd's endpoint, certs are needed) into the simulator, then the simulator will create the same resources as the imported cluster's.

Thank you, I will try to work on this.

[2021-11-08 03:05] sanposhiho commented on #41
I see.

Let me ask you one question. Can't most users get certs of etcd easily because getting etcd certs requires strong permissions in the cluster? Do you expect the administrator to use this export feature? Or is there an easy way for users to get the cert for the real cluster etcd? (I'm not very familiar with etcd certificate in Kubernetes.)

I think there are several ways to achieve this impo

[2021-11-13 15:28] #11 closed

[2021-11-13 18:36] sanposhiho commented on #41
/kind feature

[2021-11-26 23:57] sanposhiho commented on #16
/close This issue is not needed because of #17

[2021-11-26 23:58] sanposhiho commented on #16
/close

[2021-11-26 23:58] #16 closed

[2021-11-27 00:00] sanposhiho commented on #8
/close

Close this issue. This issue will be resolved with #35

[2021-11-27 00:04] sanposhiho commented on #27
/good-first-issue

[2021-11-27 00:11] sanposhiho commented on #34
/unassign

[2021-11-27 00:27] sanposhiho commented on #42
/kind documentation

[2021-11-27 00:38] sanposhiho commented on #38
Adding `ENV NODE_OPTIONS --openssl-legacy-provider` like this will solve this issue.

![スクリーンショット 2021-11-27 9 38 07](https://user-images.githubusercontent.com/44139130/143662669-3f689bab-a6c7-4fa3-842f-6a2507be4e8e.png)

[2021-11-28 16:19] sanposhiho commented on #12
/remove-lifecycle stale

[2021-11-29 13:21] sanposhiho commented on #10
/remove-lifecycle stale

[2021-11-29 14:33] sanposhiho commented on #17
/remove-lifecycle stale

[2021-11-30 04:12] sanposhiho commented on #38
This should be solved by #45
Thanks @tk3fftk
/close

[2021-11-30 04:12] #38 closed

[2021-12-01 10:31] sanposhiho commented on #5
/remove-lifecycle stale

[2021-12-03 18:54] khalilswdp commented on #27
Hi @sanposhiho, I am interested in contributing to this issue. Can you please assign this for me. Though this is my first open source contribution and I don't know how to do it. I am reading the documentation related to the issue, can you provide me with more resources to follow as a first timer?

[2021-12-03 19:15] khalilswdp commented on #27
/assign

[2021-12-03 19:16] khalilswdp commented on #27
I'd also appreciate if I get some insights on how to start the issue

[2021-12-04 04:08] sanposhiho commented on #27
Hi @khalilswdp

The background of this issue can be found in this issue description. Obviously, we need to support PriorityClass, but not yet.
If you want to try this issue, I suggest you start with the backend.

In this dir, you can see how to add new handler for new resources in API server.
https://github.com/kubernetes-sigs/kube-scheduler-simulator/tree/master/server/handler

Handlers are initi

[2021-12-05 05:39] sanposhiho opened #46 "support v1 KubeSchedulerConfiguration"
Currently, the simulator supports v1beta2

https://github.com/kubernetes/enhancements/issues/2891

/kind feature

[2021-12-05 16:08] khalilswdp opened #47 "make docker_build_and_up not working for me"
I tried running make docker_build_and_up but it's not running for me, can anyone help? (Freshly installed docker and docker-compose on fedora, docker-compose is actually `docker compose` version 2 using an alias to avoid writing the space)
[code]
but `docker-compose up -d` works just fine!

[2021-12-06 03:30] sanposhiho commented on #47
Hm, I cannot catch what you want to say. It seems that it's not bug on Kube-scheduler-simulater, but problem on your machine.

/close

[2021-12-06 03:30] #47 closed

[2021-12-06 03:32] sanposhiho commented on #47
If you want to improve something on Kube-scheduler-simulater in terms of this problem, feel free to reopen it.

[2021-12-06 04:51] sanposhiho commented on #19
/remove-lifecycle stale

[2021-12-06 07:13] BigFishLi opened #48 "creating Nodes from web UI doesn't work for me"
when I start server: make start
output is all like this:
W1206 15:06:41.585828   44196 warnings.go:70] flowcontrol.apiserver.k8s.io/v1beta1 FlowSchema is deprecated in v1.23+, unavailable in v1.26+
W1206 15:06:41.587208   44196 warnings.go:70] flowcontrol.apiserver.k8s.io/v1beta1 PriorityLevelConfiguration is deprecated in v1.23+, unavailable in v1.26+

Then I create node through the web client,it

[2021-12-06 07:15] BigFishLi commented on #48
When I create pod through the web client,server log is like this:

W1206 15:14:57.637296   44196 apf_controller.go:792] no match found for request &request.RequestInfo{IsResourceRequest:true, Path:"/apis/storage.k8s.io/v1beta1/csistoragecapacities", Verb:"watch", APIPrefix:"apis", APIGroup:"storage.k8s.io", APIVersion:"v1beta1", Namespace:"", Resource:"csistoragecapacities", Subresource:"", Name:"

[2021-12-07 05:11] sanposhiho commented on #48
@BigFishLi Hi.

So, your problem is that you created Node on webUI but Node wasn't created, right?
Didn't you get this error in your webUI?

![Screen Shot 2021-12-07 at 14 07 24](https://user-images.githubusercontent.com/44139130/144969968-1baa8a6b-4d21-493b-9bb4-8fd44ff4b449.png)

In this simulator, if something goes wrong in API server, this error should be seen in your webUI. I also see your lo

[2021-12-07 05:12] sanposhiho commented on #48
/triage not-reproducible
/triage needs-information

[2021-12-07 05:16] sanposhiho commented on #48
The title is not appropriate, so let me rename it.

/rename creating Nodes from web UI doesn't work for me

[2021-12-07 05:17] sanposhiho commented on #48
/title creating Nodes from web UI doesn't work for me

[2021-12-07 05:21] sanposhiho commented on #48
/retitle creating Nodes from web UI doesn't work for me

[2021-12-07 05:26] sanposhiho commented on #48
@BigFishLi
Could you give more information?
What's Node yaml you passed? Is it possible to film the failure to create Node?

[2021-12-07 06:28] sanposhiho commented on #46
At least, the version needs to be explicitly stated. Currently, users cannot see what's version KubeSchedulerConfiguration is.

![Screen Shot 2021-12-07 at 15 27 59](https://user-images.githubusercontent.com/44139130/144977961-51d7a575-8e26-4d5b-b116-2793e833af2f.png)

[2021-12-08 01:55] sanposhiho opened #52 "Implement e2e testing to make sure that the simulator API behaves as expected"
Currently, unit tests for API service layer and transport layer (handler) are not enough. This is because most packages of these layers are just a wrapper for client-go for now, with less complex logic.

It is useful to have an e2e test to make sure that simulator API is working as expected. The goal of this issue is to be able to run e2e tests on ~~github actions~~ prow job.

/kind feature

[2021-12-09 09:05] sanposhiho commented on #20
/remove-lifecycle stale

[2021-12-13 12:32] sivchari commented on #26
/assign

[2021-12-13 13:21] riita10069 opened #55 "make internal kube-apiserver exposable and accessible"
It is very difficult to recreate a cluster in production env, using the web.
To make it easier, I want to use `kubectl apply` command.

[2021-12-13 13:25] riita10069 commented on #55
/kind feature
/assign

[2021-12-13 13:48] sanposhiho commented on #55
+1
I like this idea.
Note that we need to change docker-compose.yml to expose kube-apiserver in simulator backend. I think it is better to create new docker-compose.yml (or split existing docker-compose.yml) for this purpose, because this feature doesn't require web ui.

/retitle request to internal kube-apiserver with kubectl cmd

[2021-12-13 14:14] riita10069 commented on #55
Thanks for the heads up!

[2021-12-13 14:29] sanposhiho commented on #55
And it would be nice to provide some way to see the result of plugins.
It is difficult to see the result in pod annotation.

[2021-12-13 15:20] sanposhiho opened #56 "use prow job"
We cannot run github actions on PRs from first contributor.
With prow job, it seems that we can trust PR and run actions with `/ok-to-test`.

https://github.com/kubernetes/test-infra/blob/master/prow/jobs.md

/kind feature

[2021-12-13 15:35] riita10069 commented on #55
I can't access kubeapiserver from the local env.
I think the reason is that local env don't have the token needed for kubeapiserver access.
Do you have something good solutions?

[code]

It is possible to authenticate with Username and Password, and I am planning to investigate that.

[2021-12-13 15:59] 196Ikuchil commented on #28
Hi @sanposhiho, I'm interested in this issue.
It is expected that exported files should be editable?
Is binary format not suited for the purpose?
thanks.

[2021-12-15 06:26] sanposhiho commented on #28
Thanks for taking this one. Feel free to ask me if you have questions or need some helps.

For example, is binary format not suited for the purpose?

IMO it would be better if it is easy to edit/read for humans.
So, the simplest idea would be to export all resources in Kubernetes yaml format. We can import them as it is.
(we need to check if we can apply exported yaml as it is when we import.)

[2021-12-17 05:26] flowscolors commented on #41
Hello, thank you very much for this project, I look forward to it very much. We also need to check the scheduling situation on a real kubernetes cluster. We operate and maintain about 60+ kuebrnetes clusters. As a cluster administrator, users often ask why two Pods are scheduled to one node, which causes container exceptions, such as local PV cannot be allocated. We can only increase the scheduler

[2021-12-17 07:25] sanposhiho opened #60 "make performance of scheduling visible"
It would be nice if we could see the time used in scheduling for each plugin.

- [ ] Aggregate the time used for each plugin.
  - It can be achieved in the same way as scheduling results. We can aggregate it in `simulatorPlugin` and send used time to `resultStore`.
- [ ] show them on WebUI in table or something nice.

/assign
/kind feature

[2021-12-17 08:32] sanposhiho opened #61 "shortage of contributors"
Hello team.
We, kube-scheduler-simulator team, are now facing a problem of shortage of contributors. And we want more people to join our development.

If you have any questions about participating in development, please post them here.
Also, please let us know if there is any documentation that lacks information so that we can improve it.

The following information is for your participation in the

[2021-12-17 08:39] sanposhiho commented on #34
Let me close this. We may don't need this feature if we can access api-server directly which will be discussed in #55.

/close

[2021-12-17 08:39] #34 closed

[2021-12-17 09:31] sanposhiho commented on #55
Let me retitle again to make the purpose of this issue more general.
If we can expose internal kube-apiserver, it means we can access it in any way (like client-go)

/retitle make internal kube-apiserver exposable and accessible

[2021-12-17 19:20] haosdent commented on #61
@sanposhiho Have commented on the PR raised by you. Let me know if I miss any PRs. Thanks for your awesome work!

[2021-12-19 17:58] sivchari opened #67 "reset scheduler and all resources"
Related #26

I implemented receiver method to delete all resources of each object.
But I'm facing a problem where to run these.
I think that scheduler isn't responsible to delete all resources of each objects.
So, I suggest 2 approach.

1. create resource package, and implement receiver method.
2. add receiver method in scheduler package.

Do you have a good solution ?

[2021-12-20 04:18] sanposhiho commented on #67
Sorry, I don't catch what you mean.
#68 is a good way to delete all resources, isn't it?

[2021-12-20 04:22] sanposhiho commented on #5
Fixed in #58 and #6.
/close

[2021-12-20 04:22] #5 closed

[2021-12-20 04:27] sanposhiho commented on #67
And, this issue seems to be a duplicate with #26.
Could you please discuss about the implementation of the reset feature in #26? (Creating multiple issues makes it difficult to find a place for discussion in the future.)
Please feel free to reopen this issue if it is significant.

/close

[2021-12-20 04:27] #67 closed

[2021-12-20 09:15] 196Ikuchil commented on #67
Hi, @sivchari
So is this what you're saying?
We need to implement one service that has a function(method) to receive a Reset request and call "DeleteAll" method of each service. Or, implement it on a simulator service that already exists.

As one additional solution, I would like to propose that integrating with this #64 functions. These are similar to yours in terms of the scope of service its us

[2021-12-20 09:18] 196Ikuchil commented on #26
Hi, @sivchari
I'm came from #67
So is this what you're saying?
We need to implement one service that has a function(method) to receive a Reset request and call "DeleteAll" method of each service. Or, implement it on a simulator service that already exists.

As one additional solution, I would like to propose that integrating with this #64 functions. These are similar to yours in terms of the scope

[2021-12-20 11:29] sanposhiho commented on #26
As I said before, we had two ways for this feature.

1. create one API to reset all resources and scheduler config.
2. create multiple APIs to reset each resource and scheduler config.

And @sivchari has already created new API to reset scheduler in #54.
This means we take the way 2.

And, #68 creates "delete all" method in each service. So, in backend, all that remain tasks for us to do is to imp

[2021-12-20 12:10] Xaving commented on #61
Is kube-scheduler-simulator a standalone app (etcd + simulation server) which does not required a cluster? Or is it a component used by  Kubernetes when scheduling?

[2021-12-20 12:25] 196Ikuchil commented on #26
Oops, it's "in each service". I was mistaken and off the main purpose, sorry...

@sanposhiho

This is means I just thought they were similar in that it calls each service if we had taken the way 1.

[2021-12-20 12:28] sanposhiho commented on #26
Yes, if we had taken the way 1, we would have created a new service to delete all resources.

[2021-12-20 16:06] sivchari commented on #26
Sorry, I was not clear enough.

I was thinking of implementing something like this.
This is because if we want to call each handler, we need to call each request one at a time.
I mentioned this question because I thought this was not so good and it would be better to create a new handler and call DeleteAll for each service in one request.

/cc @sanposhiho
/cc @196Ikuchil

[2021-12-20 16:35] 196Ikuchil commented on #28
@sanposhiho
If k8s API is updated and the simulator supports a greatly changed format, we may not be able to import files that have already been exported.

Therefore, I'd like to export it with a version number (build version of simulator..?)
It will also be possible to switch processing by version.

what do you think about it?

[2021-12-21 01:52] sanposhiho commented on #26
@sivchari
Got it. So, do you want to delete API to reset scheduler configuration created in #54?

[2021-12-21 02:00] sanposhiho commented on #28
@196Ikuchil

I don't think it's a good idea.
Such break changes should be controlled by major version in semantic versioning. It means we can add breaking changes when we increment major versions.
So, if a user exports resources in simulator `v1.X.X` and tries to import it in simulator `v2.X.X`, importing may fail. But, it's okay.

It means "we have to maintain all old logics related to import/exp

[2021-12-21 02:29] sivchari commented on #26
I think #54 is API that only restart scheduler. This issue scopes to delete each service.
That's why, I suggest following way.

1. Define new API to call `DeleteAll` method each service has.
2. Call API to restart scheduler configuration and API which `Step 1` created to delete all resources.

What do you think ?

[2021-12-21 02:37] sanposhiho commented on #26
No. See the title and its description.

Okay. So you want to create two APIs:
- the one is to delete all resources.
- the another is to reset scheduler configuration.

Why do you think it is better to split into these two APIs? (instead of creating one API to delete all resources and reset scheduler.)

[2021-12-21 02:59] sivchari commented on #26
We defined endpoint to reset scheduler configuration `/api/v1/schedulerconfiguration` now.
This endpoint means to update something to scheduler configration.
It doesn't contain meaning to delete each service.
So, I think it is better to split into these two APIs.

If this solution isn't better, I think we must rethink endpoint.
(e.g. DELETE /resources)

[2021-12-21 03:09] sanposhiho commented on #26
So, if we take your suggest way (creating two endpoints), where should the API which resets all resources be located?

[2021-12-21 03:45] sanposhiho commented on #26
What I want to say is:
Even if we do it your way, I think we need to create new path.
I think we cannot define an appropriate path for the API which resets all resources.
And, `DELETE /resources` is not a good idea. If we want to create it, we need to move ALL resource related paths under `/resources`. (like: `/api/v1/resources/pods/:name`) It's hard to do that.

Given all this, and given the curr

[2021-12-21 12:53] sivchari commented on #26
I haven't catch your idea, yet.  #70 is designed by way 2 ? It looks like way 1 design, because this fix means to delete only scheduler configuration.  BTW, way 2 is finally called each endpoint. I don't prefer to take that.  If we take way 1, client call API one time. So, I prefer to take way 1. I think way 1 endpoint path is probably that you said (`/api/v1/reset`). I agree with your idea and I

[2021-12-21 14:37] sanposhiho commented on #26
Note that I never said which way I think is best for this feature. I just asked you.

So, do you prefer the way 1? I guess your answer is "yes". Because you said ↓:

And please answer [this](https://github.com/kubernetes-sigs/kube-scheduler-simulator/issues/26#issuecomment-998403575) previous question. I guess your answer for this question **should be** "yes".

So, here are your remain tasks for t

[2021-12-21 16:11] sivchari commented on #26
I know.

Yes, your predict is correct.

I agree with it.

[2021-12-21 23:15] khalilswdp commented on #61
@sanposhiho I'm interested in joining, even though I'm still a beginner, I believe I can learn fast and start contributing after getting exposed to the other parts of the codebase

[2021-12-22 03:52] sanposhiho commented on #26
Okay. We've finally got an agreement. Go ahead @sivchari :)

[2021-12-22 03:54] sanposhiho commented on #26
I closed #70

[2021-12-22 06:08] sivchari commented on #26
I hold this until #68 is merged

[2021-12-22 06:39] pravarag commented on #56
@sanposhiho if this issue is not already being worked upon, I would like to work on it. Let me know if that's okay 🙂 .

[2021-12-22 15:52] sanposhiho commented on #56
Hi @pravarag.

Yes, it's a big help.
Feel free to `/assign` this.

[2021-12-22 17:22] pravarag commented on #56
/assign

[2021-12-24 07:25] pravarag commented on #56
@sanposhiho few questions regarding the implementation:
1) I can already see that prow is responding to command like `/assign` and labels like `kind/` - so where can I find this configuration? Or this is something which automatically gets configured when any new repository is created under `kubernetes-sigs` ?
2) Also the scope of this issue is to only implement configurations in Prow to run `/ok-t

[2021-12-24 07:36] sanposhiho commented on #61
@Xaving

Yes.
And, in the simulation server, we start kube-apiserver, kube-scheduler and pv controller which are needed components to simulate kube-scheduler behavior.
A brief explanation of how it works can be found [here](https://github.com/kubernetes-sigs/kube-scheduler-simulator/blob/master/docs/how-it-works.md). If there is anything further unclear or difficult to understand with this explana

[2021-12-24 07:38] sanposhiho commented on #61
@khalilswdp
You are already a great contributor and part of our team :)
If there is an issue other than #27 that you would like to challenge, feel free to assign yourself to it.

[2021-12-24 08:46] sanposhiho commented on #56
@pravarag

I think yes. We didn't do its setup ourselves.
The following issue is a request for the creation of this repository. The works done by the administrator to create this repository are recorded in this issue. I guess that prow is automatically enabled for all sigs repositories.
https://github.com/kubernetes/org/issues/2878

---

Yes. We do lint and test for backend and frontend in GitHub

[2021-12-24 18:08] pravarag commented on #56
Sure, thanks. I can work on implementing the CI checks and few in PR commands support using Prow meanwhile, I'll also check if there is some configuration available using GitHub actions for the same. But I highly doubt if it's being similarly used, will check more.

[2021-12-26 04:16] sanposhiho opened #74 "enable admission control with `Priority` admission plugin to support Preemption"
SSIA.

We have to enable `Priority` admission plugin to handle PriorityClass properly.
https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#priority

/assign

[2021-12-27 06:53] pravarag commented on #56
As I've started making changes for adding configurations in prow, here's a draft PR that you can check which adds current checks as prow jobs:
https://github.com/kubernetes/test-infra/pull/24744

Also, raised another PR to include a slight Makefile change here:
https://github.com/kubernetes-sigs/kube-scheduler-simulator/pull/76

[2021-12-28 06:02] sanposhiho commented on #56
@pravarag

Thanks! Both changes look good to me.

[2021-12-28 08:31] pravarag commented on #56
Thanks @sanposhiho , I'll still be looking to make few changes to those two PRs before final approval. Also currently checking for ways to test the build flow if it's possible without merging.
Will keep updating this issue for any further changes.

[2021-12-28 16:56] 196Ikuchil commented on #26
Hi @sivchari
How is the progress of the webUI implementation?
I will also implement a import/export button on PR #64 , soon later.

I'd like to put it around here. ↓ But I worry about any conflicts.
CC. @sanposhiho
<img width="1436" alt="screenshot" src="https://user-images.githubusercontent.com/22634362/147589040-73eaee18-96d4-4d42-9225-cd2727dbd63c.png">

[2021-12-30 14:00] sivchari commented on #26
Hi @196Ikuchil, sorry to respond late.

We haven't complete all API to delete all resources and scheduler configuration, so I'm not doing implementation webUI yet.

As above reason, you don't worry about any conflicts.

Thanks.

[2021-12-31 06:24] sanposhiho commented on #28
@196Ikuchil

Could you please add a brief description of what you'd like to add to frontend here before starting to implement the frontend?

[2022-01-03 04:39] 196Ikuchil commented on #28
@sanposhiho
<img width="1436" alt="screenshot" src="https://user-images.githubusercontent.com/22634362/147899794-e6c0bc6c-df04-427e-b950-9c4fe5fcd406.png">
I will implement `import/export` button like this.

In export, we can get a YAML format file of current resources. (But the server responds in JSON, so we need to convert to YAML on the client-side.)

In import, we can put a YAML file, and it w

[2022-01-06 06:47] sanposhiho commented on #56
/reopen

[2022-01-06 07:59] sanposhiho commented on #27
/reopen

@khalilswdp
Could you update README like this?:
https://github.com/kubernetes-sigs/kube-scheduler-simulator/pull/69

[2022-01-06 08:12] sanposhiho commented on #28
Looks good. Let me ask some questions.

- Why do you think it is better to export as yaml? (not json)
- What happens when users click import/export button? New Dialog comes up and users will choose export or import in that dialog?
  - Another possible design is to display `import` and `export` as separate buttons in the first place.

[2022-01-06 08:40] sanposhiho opened #77 "Support plugins in sigs/scheduler-plugins?"
https://github.com/kubernetes-sigs/scheduler-plugins

This idea should be discussed if it is really needed or not.

If we want to support it, we also need to support CRD (like [podgroup](https://github.com/kubernetes-sigs/scheduler-plugins/blob/master/pkg/coscheduling/README.md#podgroup)). Supporting each CRDs can be a big task. Therefore, we need to think of some better way to do that, like handl

[2022-01-06 11:40] sanposhiho commented on #22
/remove-lifecycle stale

[2022-01-06 19:26] khalilswdp commented on #27
@sanposhiho ok I'm on it

[2022-01-07 08:01] sanposhiho commented on #27
Finished supporting. Thanks @khalilswdp.
/close

[2022-01-07 08:01] #27 closed

[2022-01-07 18:28] khalilswdp commented on #27
Thank you @sanposhiho  for all the help, I am really grateful!

[2022-01-08 11:39] sanposhiho opened #79 "Use `DeleteCollection` to delete pods on the Node at once for better performance."
`Delete` in node service deletes Pods on that Node.
Currently for this:
- list all Pod via `podService.List`
- check fetched Pods and delete Pods on the Node.

https://github.com/kubernetes-sigs/kube-scheduler-simulator/blob/master/node/node.go#L71

But, we can delete all Pods on one Node by calling DeleteCollection method on Node service once with FieldSelector in metav1.ListOptions.
https://kube

[2022-01-08 11:46] sanposhiho commented on #79
/close

Let me close this for now.

[2022-01-08 17:16] momom-i commented on #37
hi, @sanposhiho.
If no one works on it now, I'd like to try on this issue. Can I assign it to myself?

[2022-01-09 02:29] sanposhiho commented on #37
Yes. Please feel free to assign this to yourself with `/assign` command.

[2022-01-09 03:01] sanposhiho commented on #37
@momom-i

Let me explain about the current scheduler configuration.

We are using [`defaultconfig .DefaultSchedulerConfig`](https://github.com/kubernetes-sigs/kube-scheduler-simulator/blob/9226333b5b2b7f730c7c2dad05384c0e99b7b420/scheduler/defaultconfig/defaultconfig.go#L10) to fetch default configuration of scheduler when starting simulator.
https://github.com/kubernetes-sigs/kube-scheduler-simul

[2022-01-09 03:18] sanposhiho commented on #37
@momom-i

Let me explain about the current scheduler configuration.

We are using [`defaultconfig .DefaultSchedulerConfig`](https://github.com/kubernetes-sigs/kube-scheduler-simulator/blob/9226333b5b2b7f730c7c2dad05384c0e99b7b420/scheduler/defaultconfig/defaultconfig.go#L10) to fetch default configuration of scheduler when starting simulator.
https://github.com/kubernetes-sigs/kube-scheduler-simul

[2022-01-10 07:36] momom-i commented on #37
Thank you for your kind instructions!
I understand your image and agree to using environment variables.
Let me open PR for it based on what your thought.

[2022-01-10 07:36] momom-i commented on #37
/assign

[2022-01-10 07:43] 196Ikuchil commented on #28
I followed this.
[code]
https://kubernetes.io/ja/docs/concepts/configuration/overview/#%E4%B8%80%E8%88%AC%E7%9A%84%E3%81%AA%E8%A8%AD%E5%AE%9A%E3%81%AEtips

yes, I will display a new dialog. And also I will implement 2 buttons. (similar to yours.)

[2022-01-15 03:16] sanposhiho commented on #56
@pravarag
Thanks for working on kubernetes/test-infra#24744 👍

I try to run some tests in this PR: #71.
Hm, okay, I now understood that each jobs run in other containers as other jobs. 😓

I think the following changes are needed for us (Correct me if I misunderstood):

- This job(pull-kube-scheduler-simulator-lint) requires golangci-lint.
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull

[2022-01-16 06:40] 196Ikuchil commented on #28
Current behavior
<img width="1440" alt="スクリーンショット 2022-01-16 15 08 59" src="https://user-images.githubusercontent.com/22634362/149650026-8e85251f-62d1-4ebe-8b18-9435ddf96d28.png">

### export
<img width="1440" alt="スクリーンショット 2022-01-16 15 09 10" src="https://user-images.githubusercontent.com/22634362/149650035-16389d3e-b958-48c6-89f4-d013ac10fbc0.png">
<img width="1440" alt="スクリーンショット 2022-01-16 1

[2022-01-16 07:43] 196Ikuchil commented on #28
Hi @sanposhiho
we must call `get` API of each resource after importing has been done.
But I think it is to be complicated because we are going to call each API on `import` component.

So, I'd like to prompt users to reload the browser. What do you think?
Thank you.

[2022-01-16 08:16] sanposhiho commented on #28
Yes. It's better to call each get API after requesting import API.

[2022-01-17 11:37] pravarag commented on #56
Thanks for sharing the review @sanposhiho, I've made some changes as suggested by you here: https://github.com/pravarag/test-infra/commit/815f33383d745eed24c5af2e5c06d816c308cea5. Kindly let me know if these look good, will raise a new PR under test-infra then 🙂

[2022-01-17 14:07] sanposhiho commented on #56
@pravarag
The changes look good to me :)

Just three nits about test name (Sorry it includes the change in the previous PR):
- In terms of https://github.com/pravarag/test-infra/commit/815f33383d745eed24c5af2e5c06d816c308cea5#diff-bc99677de9c0bdab2799354a36d51454141761e7a7049d37bbb81d1ac0950ec5R4, this name will be test name. So, let's change this name to be easier to understand that this job does

[2022-01-17 17:31] pravarag commented on #56
Updated here: https://github.com/pravarag/test-infra/commit/94ac560af2f9367b87386ef2ee8f27505dbcf57c , let me know if this is good to go @sanposhiho

[2022-01-18 03:56] sanposhiho commented on #56
Yes! Looks super good to me! Thanks 👍

[2022-01-18 04:35] pravarag commented on #56
I have created the following PR: https://github.com/kubernetes/test-infra/pull/24908

[2022-01-18 05:54] sanposhiho commented on #56
@pravarag

/reopen

Tried again in #71.
About `pull-kube-scheduler-simulator-frontend-lint`:
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_kube-scheduler-simulator/71/pull-kube-scheduler-simulator-frontend-lint/1483314092801265664

change [here](https://github.com/pravarag/test-infra/blob/94ac560af2f9367b87386ef2ee8f27505dbcf57c/config/jobs/kubernetes-sigs/kube-schedu

[2022-01-18 09:58] pravarag commented on #56
Thanks for merging the PR, I checked the logs of prow job that you have shared. I'm wondering if `go install github.com/golangci/golangci-lint/cmd/golangci-lint` didn't run properly or not. As I tried to run the same command in my local and it'll output all the dependencies that'll be installed along with `golangci-lint`.

Also, how about we put the PATH definitions somewhere in Makefile itself li

[2022-01-19 09:38] sanposhiho commented on #56
Yes, that's another good way. Could you open the PR?
After adding PATH definition in Makefile, let's try job again to check whether golangci-lint is installed properly or not 👍

[2022-01-19 14:19] pravarag commented on #56
I've raised both the PRs, however the Makefile change seems to have failed [here](https://github.com/kubernetes-sigs/kube-scheduler-simulator/runs/4868607065?check_suite_focus=true). And I think the reason being since `make` parser executes lines in a separate shell invocations and that's why exporting at the top of Makefile is not getting applied only when we run a command like `make lint` 😞 but

[2022-01-20 16:10] sanposhiho commented on #56
Thanks for working on PRs 👍

Hmm, I see. How about this way:

https://github.com/kubernetes-sigs/kube-scheduler-simulator/issues/56#issuecomment-1015093180

[2022-01-21 08:14] pravarag commented on #56
I missed adding this part in the previous PR, but I've raised another PR for this, I think this should work 🤞🏾

[2022-01-22 09:44] sanposhiho commented on #56
/reopen

@pravarag
We finally run backend linter successfully 🎉
See: https://github.com/kubernetes-sigs/kube-scheduler-simulator/pull/71

The last one is frontend-lint job.
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_kube-scheduler-simulator/71/pull-kube-scheduler-simulator-frontend-lint/1484459065089200128

[2022-01-22 09:45] sanposhiho commented on #56
Maybe, is running `npm ci` not needed?

[2022-01-22 17:12] sanposhiho commented on #37
/reopen

https://github.com/kubernetes-sigs/kube-scheduler-simulator/pull/80#pullrequestreview-860224068

[2022-01-23 14:53] pravarag commented on #56
🥳

Ah, I see. I wanted to check if `npm ci` can replace `npm install` by any chance, but I guess that won't work. I've updated the config and raised a new PR.

[2022-01-23 15:07] #10 closed

[2022-01-24 14:00] pravarag commented on #52
Hi @sanposhiho I would like to work on this issue if this is not taken already. I think this would be very interesting and maybe challenging to implement through it's full course. As we are already in works for enabling prow as part of CI, what are your thoughts in enabling e2e testing in prow itself.

[2022-01-25 09:36] sanposhiho commented on #52
Hi. Feel free to take this issue, thanks :)

Yeah. This e2e test also should be run in prow job instead of GH action. I update the issue description 👍

[2022-01-25 16:28] pravarag commented on #56
/reopen

[2022-01-27 09:20] pravarag commented on #56
Thanks for merging the PR, however I could still see the frontend test is failing with following error:

[code]
And there are no error logs apart from these lines. Any idea what this error could be?

[2022-01-29 06:04] #37 closed

[2022-01-29 06:06] sanposhiho commented on #56
I guess we already have yarn so not need to install it. Could you delete `npm install -g yarn`?

[code]

[2022-01-29 07:32] sanposhiho opened #84 "support Namespace and change Web UI to support"
Let's support Namespace.

I think it requires a big Web UI design change, because all resources are now created on the same namespace. We need to change Web UI to make it easier to understand which namespace each resource resides in.

[2022-01-29 07:32] sanposhiho commented on #84
/kind feature

[2022-01-29 09:31] sanposhiho commented on #79
/reopen

[2022-01-29 12:19] pravarag commented on #56
Thanks, I've updated and raised a new PR. Hope this should work.

[2022-01-29 13:50] sanposhiho commented on #56
@pravarag Looks work well!
Thanks for great work!!

[2022-01-30 15:57] sanposhiho commented on #56
@pravarag
Could you change jobs `always_run: true` when you have time?

/reopen

[2022-01-30 17:26] pravarag commented on #56
Done, updated the config and raised a new PR :)

[2022-01-31 08:52] sanposhiho commented on #56
@pravarag
Thanks 🙏

[2022-01-31 08:54] #56 closed

[2022-02-01 15:41] skuethe opened #87 "Bug: `frontend` is not available, due to missing `nuxt` telemetry user input during `yarn start`"
While trying to run this application via `docker-compose` I noticed that the `frontend` is not available via http://localhost:3000.
I did some evaluation and noticed that there is a `nuxt` telemetry user-input required when starting the `frontend` application.

[code]

After some digging I found the following input on that:
https://github.com/nuxt/telemetry#opting-out

When adding the described en

[2022-02-01 15:52] sanposhiho commented on #87
Hmm, Thanks for investigating :)

/kind bug
/assign @skuethe

[2022-02-01 17:00] sanposhiho opened #89 "Scores from `NormalizedScore` are not recorded correctly."
ssia... 🤦‍♂️

/kind bug
/assign

[2022-02-01 17:06] sanposhiho commented on #89
/priority critical-urgent

[2022-02-01 17:34] sanposhiho opened #91 "Improve Web UI accessibility"
The current Web UI is mostly created by me and I don't have any knowledge about accessibility. 😓
So, it has non-good accessibility and should be improved.

This is a very vague issue. If you have any ideas for improvement, please comment.

/kind feature

[2022-02-01 17:34] sanposhiho commented on #91
- control the confirmation dialog with the enter or esc button.

[2022-02-01 17:44] #87 closed

[2022-02-02 12:36] 196Ikuchil opened #92 "Small mistakes in docs"
# issue
On #64 , I made/found some small mistakes.

## 1
This link is dead on the markdown view of GitHub.
And the class name was also changed to `ResourcesForImport`
https://github.com/kubernetes-sigs/kube-scheduler-simulator/blob/86527a2ae1b1e28b62b36cace66b2450f8a302bd/docs/api.md?plain=1#L505
https://github.com/kubernetes-sigs/kube-scheduler-simulator/blob/86527a2ae1b1e28b62b36cace66b2450f8a30

[2022-02-02 19:46] #89 closed

[2022-02-03 06:16] sanposhiho commented on #92
Hm, nice catch. Could you create a PR to fix that?

/assign @196Ikuchil
/kind documentation
/kind bug

[2022-02-03 06:16] sanposhiho commented on #92
/remove-kind bug

[2022-02-04 16:16] momom-i commented on #84
Hello, again. if no one working on it, I'd like to try it!

For backend side, I have an image for this implement like as follows.
- Add namespace service that has `Get`, `List`, `Apply` and `Delete` method, same as node or pod
- Change some method for namespaced resources to pass namespace info to them

Is my understanding almost correct?

[2022-02-05 11:18] #92 closed

[2022-02-05 12:05] sanposhiho opened #95 "change frontend to request kube-apiserver directly to CRUD resources and deprecate all APIs for CRUD resources"
Currently, when the simulator API is requested to create a resource, it requests the change to kube-apiserver via client-go.
So, our backend API can be considered as a kind of BFF (backend for frontend), acting as an intermediary between kube-apiserver and the frontend.

However, for the API to create/read/update/delete resources, the simulator API is just passing the request to the kube-apiserver

[2022-02-05 12:09] sanposhiho commented on #84
Hi @momom-i.
This issue is not started. Please feel free to assign yourself with `/assign`

Yeah, your thought is right, but I feel the development for this issue should be done after #95.
After #95, we don't need to change the backend and can create/edit/delete namespaces by requesting kube-apiserver directly.

[2022-02-05 12:21] sanposhiho commented on #28
/reopen

[2022-02-05 12:28] sanposhiho commented on #41
By #64, we created a new service to export/import all resources.
I think we can use that to achieve this.

0. users passes information to connect kube-apiserver in existing cluster.
1. When simulator is start, fetch all needed resources from existing cluster (via kube-apiserver)
2. import that resources via `Import` func ([ref](https://github.com/kubernetes-sigs/kube-scheduler-simulator/blob/maste

[2022-02-05 12:52] sanposhiho commented on #41
/cc @196Ikuchil

[2022-02-05 12:58] 196Ikuchil commented on #41
Hi👋
 I would like to work on this issue, ok?

[2022-02-05 13:03] sanposhiho commented on #41
@196Ikuchil
Yes. I think it should be Okay.

(@lianghao208 Sorry if you've already worked on this. Thanks for proposing this nice feature.)

[2022-02-05 14:18] 196Ikuchil commented on #41
/assign

[2022-02-05 14:36] lianghao208 commented on #41
@sanposhiho It's ok, I think @196Ikuchil will have a better solution. I can review @196Ikuchil 's PR after it has been submitted.

If the whole process can be separated into multiple tasks, I would like to work on some of them too.

[2022-02-05 17:36] sanposhiho opened #96 "improve Web UI to be able to see many resources for large cluster"
In #41, we will import resources from existing cluster.
Current web UI is hard to see many resources and should be improved.

It would be nice if there was a different mode that would make it easier to see as many resources as possible at once.
It will probably be simpler than the current UI and will be more like lists of resources. It would also be useful to be able to do things like search for s

[2022-02-06 06:47] sanposhiho commented on #41
@lianghao208

Thanks.
Since this feature enables the communication between real-world Kubernetes and the simulator and I'm not very experienced as a Kubernetes operator, having a reviewer other than myself would be very helpful.

---

Yeah. In detail, I think the following changes are needed.
Please let me know if there are any concerns, lack of explanation, or other good ideas.

- create an optio

[2022-02-06 08:32] sanposhiho commented on #55
By #94, we can achieve this and the rest work is only documentation, I think.
The documentation should explain how to change the URL of kube-apiserver in the simulator and how to connect for each client (kubectl and client-go).

[2022-02-06 08:44] sanposhiho commented on #79
Hi @itsCheithanya.

So, this issue wants to replace [this part](https://github.com/kubernetes-sigs/kube-scheduler-simulator/blob/17382c9fea30492335e19796841e14b695a4aaf9/node/node.go#L77-L87) to use [DeleteCollection method](https://github.com/kubernetes-sigs/kube-scheduler-simulator/blob/17382c9fea30492335e19796841e14b695a4aaf9/pod/pod.go#L78) in Pod service.

Other details are described on the i

[2022-02-06 09:29] 196Ikuchil commented on #41
@sanposhiho
I generally agree.

I have implemented the `ExportService`, so I should be in charge of this at least.

[2022-02-06 13:26] momom-i commented on #84
Thank you! I understand, so first I'm trying to work on #95 and then if it works, will be back on this issue later.

[2022-02-06 13:27] momom-i commented on #95
/ assign

[2022-02-06 13:28] momom-i commented on #95
/assign

[2022-02-07 14:04] 196Ikuchil commented on #41
@sanposhiho
Hi, I'm working on the second issue.

Where should we pass the ignore option? By `ExportService` or each method calling?
[code]
[source code](https://github.com/kubernetes-sigs/kube-scheduler-simulator/blob/17382c9fea30492335e19796841e14b695a4aaf9/export/export.go#L28)

OR
[code]
[source code](https://github.com/kubernetes-sigs/kube-scheduler-simulator/blob/17382c9fea30492335e19796841e

[2022-02-07 15:24] 196Ikuchil commented on #41
I think this point also is not determined.
**When should we pass the config file (like a `kubeconfig`)?**

**Is it when we launch the scheduler on the terminal? (e.g. environment variable)**
-  there is a possible config file that also has already been prepared if someone does set `ignore error option` to true before launch.
- config file is imported directly. (Not through the network.) This is mo

[2022-02-08 07:42] sanposhiho commented on #41
I prefer each method call. And it should be implemented as functional option pattern.
https://github.com/uber-go/guide/blob/master/style.md#functional-options

-1. We may use it in different places in the future. We can never fully know how it will be used in the future.
Since the number of methods is not very large, it is better to implement options for each function, so that they can also be use

[2022-02-09 14:39] 196Ikuchil opened #98 "High privileged `PriorityClass` causes some errors on `import`"
There are 2 problems with `import` function of `ExportService`.

## 1. The default existing `PriorityClass` conflicts.
When the scheduler is restarted, 2 `PriorityClass`that is`system-cluster-critical` and `system-node-critical` will be created automatically.
The `import` function of `ExportService` calls that restart logic, at first. This means that the 2 `PriorityClass` are recreated before impo

[2022-02-09 14:48] 196Ikuchil opened #99 "[WebUI] Delete button of high privileged `PriorityClass`"
If we can't delete this system's `PriorityClass`, we should disable this red delete button?
(If not, close this please..)

<img width="1012" alt="スクリーンショット 2022-02-09 23 42 01" src="https://user-images.githubusercontent.com/22634362/153224162-b15b3d88-c428-40fe-ad09-6ccceb623043.png">

[code]

/kind feature

[2022-02-10 10:27] sanposhiho commented on #99
As you said, we can turn off the delete button.
Feel free to work on this if you want.

[2022-02-10 10:40] sanposhiho commented on #96
What I wanted to say in this issue is drawing a box for each object as we do now is very hard to see when simulating large clusters. For example when the number of pods exceeds 1000, a user would have to scroll the page forever to find the Pod they are looking for. So, I don't think your proposal will solve this problem.

My idea on the issue description is to show resources in some kinda simple l

[2022-02-10 10:43] sanposhiho commented on #98
I suggest not to export system-cluster-critical and system-node-critical. They are created automatically, so exporting them doesn't make much sense.

[2022-02-11 11:35] 196Ikuchil commented on #99
/assign @196Ikuchil

[2022-02-11 12:27] 196Ikuchil commented on #96
Thank you and I understood that my earlier idea was wrong.
hmm.., could you give me some pictures of your idea, please?🙏
If there is any discrepancy in my imagination, it will be very difficult to recreate it.

[2022-02-12 15:05] sanposhiho commented on #96
Maybe like this? The resources should be listed as a simple list and each resource lists have filter and search box. (the detailed design isn't important here.)
When you click on an element in the list, a bar appears from the right as it does now, allowing you to see detailed information and change resources.

This is just my random idea and should be discussed more the feature and the design befo

[2022-02-12 16:34] sanposhiho opened #106 "Improve the documentation about environment variables"
We configure the simulator through environment variables.
But, we don't have any documentation for that.

/kind documentation

[2022-02-13 05:25] sanposhiho commented on #96
vuetify-admin has been archived.
https://github.com/okami101/vuetify-admin

And we are already using vuetify and I feel it has enough features for us. We can concentrate on building features without feeling hard in implementation detail like CSS.
So, I am reluctant to use any framework that would wrap vuetify further. (Because that will be a big deal when it's archived or maintenance stops, like v

[2022-02-13 05:47] #99 closed

[2022-02-13 15:25] 196Ikuchil commented on #41
Hi @sanposhiho @lianghao208
I have finished the prework of this issue and it was merged.
So, I'd like to start the work on the remaining tasks.
If you have any messages, feel free to mention me on here👌

[2022-02-13 17:53] pravarag commented on #52
Hi @sanposhiho, I had few points in mind to implement e2e for `kube-scheduler-simulator`. The testing should cover all the below features that are provided by simulator to create/delete/edit resources like:

- Nodes
- Pods
- Persistent Volumes, Volume Claims
- Storage Classes
- Priority Classes

Also I think, we'll have to create a new cluster (or utilize an existing one) so as to run our e2e test

[2022-02-14 05:28] sanposhiho opened #109 "Implement functions to fetch results from pod annotations"
To use this simulator as a library, we needed to fetch scheduling results from pod annotations.
In annotation, the results are stored as json, so the functions should unmarshal the json in the pod annotation and return the result as some useful type.

/kind feature

[2022-02-14 05:42] sanposhiho commented on #52
Hello @pravarag.

We plan to deprecate all APIs for create/delete/edit resources.
https://github.com/kubernetes-sigs/kube-scheduler-simulator/issues/95

So, for now, e2e tests should only cover other APIs in these paths:
- /export
- /import
- /schedulerconfiguration

https://github.com/kubernetes-sigs/kube-scheduler-simulator/blob/master/server/server.go#L48-L83

And, `/reset` will be added soon.

[2022-02-14 05:43] sanposhiho commented on #52
However, in order to run the e2e test in prow job, we need to figure out how to run etcd in job. 🤔 💭

[2022-02-14 07:01] sanposhiho commented on #26
/reopen

[2022-02-14 07:36] sanposhiho opened #110 "display the version of KubeSchedulerConfiguration in WebUI"
We only support v1beta2 now. The latest version of that is v1beta3, so users may confuse.
So, let's add the version of KubeSchedulerConfiguration in the WebUI.

We plan to support v1beta3 in this issue.
https://github.com/kubernetes-sigs/kube-scheduler-simulator/issues/46

/kind feature
/good-first-issue

[2022-02-14 14:55] #98 closed

[2022-02-15 17:45] matthewygf commented on #77
Hi @sanposhiho , I have an experimental [branch](https://github.com/matthewygf/kube-scheduler-simulator/tree/crds) that made CRDs work , well at least it accepts the CRD and create them appropriately.

The idea is copying how kube-api-server create its [aggregate server](https://github.com/kubernetes/kubernetes/blob/30a21e9abdbbeb78d2b7ce59a79e46299ced2742/cmd/kube-apiserver/app/server.go#L169) an

[2022-02-19 12:34] marcobarlo commented on #77
I would be interested in simulating my custom plugins too for testing reasons on scale, is that possible in your branch @matthewygf?

[2022-02-19 23:23] matthewygf commented on #77
@marcobarlo , it depends whether your custom plugins implement the "Filter/Score" interface. Also It depends whether you need to handle any CRDs, in which case you might need to add a controller instance within the simulator.

If you don't need to handle any CRDs, you can probably fork and register your plugin in the simulator (probably need to add a few lines of code).

[2022-02-20 13:44] 196Ikuchil commented on #96
@sanposhiho My current work will be done soon and I'll do this next.
Use this `data-tables` of vuetify as a table of resources.
https://vuetifyjs.com/ja/components/data-tables/

[2022-02-20 14:19] 196Ikuchil commented on #96
/assign @196Ikuchil

[2022-02-22 09:44] 196Ikuchil opened #116 "`namespace` is specified only as `default`."
# Problem
In near future, we (maybe) merge PR #111.
In that PR, we will be able to import a variety of resources from external.

Therefore, we should change the logic so that we can import from different `namespace`.
https://github.com/kubernetes-sigs/kube-scheduler-simulator/blob/ba063251e585bfe40ffda7a8462b9912fa06bc3c/pod/pod.go#L27

## Example
We can check it after we merged #111. (Maybe)
[cod

[2022-02-23 03:06] sanposhiho commented on #116
Totally make sense. Please feel free to work on it if you are interested in :)

[2022-02-23 06:11] pravarag commented on #52
@sanposhiho Thanks for sharing the detailed info, I'm gathering some doubts which I'll share here as well. Also, wanted to check if we'll be requiring to start a new simulator as well before we start any of scheduler, api-server, pv-controller? or these can work independently.

On a different note - as you mentioned we don't need to run e2e tests for create/delete/edit resources like Pods, Nodes,

[2022-02-24 05:30] markstur commented on #110
/assign @markstur

I'm looking at this for a good first issue for me.  I'd like #dibs but I doubt I can self-assign.  Trying anyway.

[2022-02-25 05:12] pravarag commented on #106
@sanposhiho I can work on creating the document as I'm currently revealing multifolds while working on e2e cases :)

[2022-02-26 14:27] sanposhiho commented on #52
@pravarag

(This is a minor point, but, first of all, this _simulator_ is composed of the simulator API(api-server for frontendn), kube-apiserver, pv-controller, and scheduler (scheduler plugins). Therefore, note that "_simulator_" is a generic term for all of these components.)

Unless we use mocks, we need to start kube-apiserver and scheduler before starting simulator API.

Sorry, I didn't catc

[2022-02-26 14:29] sanposhiho commented on #106
@pravarag
Thanks.
I think it would be a good idea to create a document in new file under `/docs` and add a link to it in the README.

[2022-02-26 17:59] #28 closed

[2022-02-27 23:04] sanposhiho commented on #95
@momom-i Could you create another PR to deprecate the APIs?
There is no need to delete them. Just adding comments to all related handlers is enough. (see: https://github.com/golang/go/wiki/Deprecated)

For example, for node handler, add comment for deprecate to:

- [NodeHandler struct](https://github.com/kubernetes-sigs/kube-scheduler-simulator/blob/ca3dc0dcb4ffabcca46406886e7021b85f03c870/server/

[2022-02-28 00:47] sanposhiho opened #120 "[web ui] Update all resources periodically"
update all resources once every 5 seconds.
Users will be able to see all resources without reloading the page even if resources are asynchronously updated.

/kind feature

[2022-02-28 01:32] sanposhiho commented on #41
/reopen

The remain task is the documentation.

[2022-02-28 02:34] #26 closed

[2022-02-28 03:10] sanposhiho commented on #17
/remove-lifecycle-stale

[2022-02-28 03:10] sanposhiho commented on #17
/remove-lifecycle stale

[2022-02-28 13:28] momom-i commented on #95
I got it, I'll create its PR later.

[2022-03-01 02:33] markstur commented on #46
/assign
I'll look at this next.  I was already showing the kind/apiVersion, but want to look into supporting multiple versions.

[2022-03-01 04:11] sanposhiho opened #124 "rename simulator plugin to `wrappedplugin`"
We will expand simulator plugin not only for simulator, but for other purposes. So, rename it to appropriate name.

https://github.com/kubernetes-sigs/kube-scheduler-simulator/blob/master/scheduler/plugin/plugins.go#L238

[2022-03-01 04:11] sanposhiho commented on #124
/kind feature

[2022-03-01 09:10] 196Ikuchil commented on #41
I'm waiting for the #106 issue to be resolved.

[2022-03-01 12:27] momom-i commented on #95
I'd like to confirm a deprecate comment before creating PR.
Does the following sentence look good to you? (I suppose it's put on NodeHandler as an example)
[code]

[2022-03-01 13:01] sanposhiho commented on #95
How about this:

[code]

[2022-03-01 13:38] 196Ikuchil commented on #116
Relates #84

[2022-03-01 14:18] momom-i commented on #95
@sanposhiho I think `/docs/api.md` and `/docs/how-it-works.md` would be better to add deprecate description.
Would you mind if I include that change to another PR?

[2022-03-01 14:59] 196Ikuchil commented on #60
Hi @sanposhiho
Is there any progress on this? Are you looking for a worker?

[2022-03-01 15:29] sanposhiho opened #125 "Expand simulator plugin to allow arbitrary processing before/after execution of `Filter`, `Score`...etc"
Currently, simulator plugins are implemented as plugins that behave as the original plugin, but record the result of `Filter` and `Score` on [`store`](https://github.com/kubernetes-sigs/kube-scheduler-simulator/blob/master/scheduler/plugin/plugins.go#L230).
https://github.com/kubernetes-sigs/kube-scheduler-simulator/blob/master/scheduler/plugin/plugins.go#L238

If we expand this simulator plugin t

[2022-03-01 15:29] sanposhiho commented on #125
/kind feature

[2022-03-01 15:31] sanposhiho commented on #60
I haven't worked on this. So, feel free to pick this issue.
But, I think we should work on the following issue before this feature.
https://github.com/kubernetes-sigs/kube-scheduler-simulator/issues/125

[2022-03-01 15:55] sanposhiho commented on #95
You are right. 👍
In `api.md`, I think all deprecated APIs can be moved to the bottom of the list.
So, like this:

[code]

[2022-03-01 16:11] 196Ikuchil commented on #125
It is interesting. Please share more of your idea.
What are you thought of the `arbitrary processing`?

As for the Implementation, would we add an `interface` of function which be implemented some `arbitrary processing`?(Like an `Extension points`'s plugin of Scheduling Framework.)

[2022-03-01 17:31] sanposhiho commented on #125
Nice idea 👍 I guess the interfaces will be like this (just one idea):

[code]

[2022-03-02 04:47] sanposhiho commented on #125
@196Ikuchil
This feature is not for simulator, but mainly for users who use this repository as a library.

So, we don't need to allow users of kube-scheduler-simulator via env. (And, your idea is not technically feasible.)

I think we can proceed this task with the following steps:
- [ ] create interface discussed above
- [ ] create option on [newSimulatorPlugin](https://github.com/kubernetes-sigs

[2022-03-02 09:58] sanposhiho commented on #124
/kind cleanup
/remove-kind feature

[2022-03-02 16:17] momom-i commented on #95
I understand.

[2022-03-03 08:28] #124 closed

[2022-03-03 20:51] matthewygf opened #130 "Add resource allocation rate for available resources to the simulator."
This is sort of related to #91.

It is often useful to evaluate scheduler algorithms by evaluating the resource allocation rate.

My line of thinking is that we should do something similar to the kubernetes-dashboard, where CPU / Memory usages are show on the UI.

How about something similar to the kubernetes [dashboard](https://github.com/kubernetes/dashboard/blob/master/src/app/backend/resource/

[2022-03-10 04:04] AlbertZhangHIT opened #132 "Run scheduler simulator on a single node server"
Hi there, I'm new to K8S.

I tried to run this simulator on my single node server, where the kube-apiserver, etcd were already running in pods.

I compiled the simulator locally by `make build`, and the environment variables `KUBE_API_HOST, KUBE_API_PORT, KUBE_SCHEDULER_SIMULATOR_ETCD_URL` were set according to the advertising address. But `./bin/simulator` failed at listening to `KUBE_API_HOST:KU

[2022-03-10 07:47] sanposhiho commented on #132
/kind support

Hi. The simulator start kube-apiserver internally and use that. `KUBE_API_HOST` and `KUBE_API_PORT` are env to fix this internal kube-apiserver's address.
I guess just starting without `KUBE_API_HOST, KUBE_API_PORT` should be fine. (But, note that your kube-apiserver will not be used in this simulator.)

[2022-03-10 17:29] pravarag commented on #41
Hi @196Ikuchil does the above PR also fixes #106 or it partially implements that? I'm also in way to add documentation as part of that issue.

[2022-03-11 01:36] AlbertZhangHIT commented on #132
Thank you for your suggestion. I changed the `KUBE_API_PORT` and the following error popped when I rerun the simulator:

[code]
Is there something wrong with my etcd?

Thank you again.

[2022-03-11 13:37] #96 closed

[2022-03-11 14:20] 196Ikuchil commented on #41
Hi, @pravarag Sorry for my confusing comment.
That PR doesn't fix issue #106 I think. It describes how to use the function of importing existing clusters.
But, indeed, it also describes some environment variables.
So, could you add those environment variables to your documentation?
Thank you!

[2022-03-11 14:21] 196Ikuchil commented on #96
/reopen
The remaining task is the documentation.

[2022-03-11 14:58] 196Ikuchil commented on #106
Hi @pravarag
Could you add a description of `ALPHA_TABLE_VIEWS` environment variable?
It is implemented in #119.

If the `ALPHA_TABLE_VIEWS` be set to 1, the DataTable view (web UI) will be enabled (This is an alpha feature. )

[2022-03-12 17:31] pravarag commented on #41
Thanks for mentioning, I'll add the above ones as well.

[2022-03-13 08:36] #110 closed

[2022-03-13 08:48] sanposhiho commented on #19
/remove-lifecycle stale

[2022-03-13 08:56] sanposhiho opened #133 "Provide the way to deploy simulator to cluster"
It would be better if users can deploy the simulator on their cluster to simulate the scheduling of their cluster.
Just like kubernetes/dashboard. see https://github.com/kubernetes/dashboard#install

Related to #41. We may use the existing cluster importing feature newly added by #41 to achieve this feature.

/kind feature
/priority important-longterm

[2022-03-13 09:02] sanposhiho commented on #132
Did you use `make start` as [README](https://github.com/kubernetes-sigs/kube-scheduler-simulator#run-locally) suggests?
https://github.com/kubernetes-sigs/kube-scheduler-simulator/blob/master/Makefile#L30

[2022-03-13 09:06] sanposhiho commented on #132
Hm, maybe issue on your etcd, I guess..

Btw, why do you want to run the simulator on your Pod?
If you just want to use the simulator, you can run the simulator in container ([ref](https://github.com/kubernetes-sigs/kube-scheduler-simulator#getting-started)).

[2022-03-13 12:36] AlbertZhangHIT commented on #132
Sorry for the misleading words.  Please let me correctly describle my situation again.

`Situation`:
Vitual Machine with OS CentOS 7.
The kube-apiserver and etcd are running in two different containers. But in the local environment there is no etcd available. I can not  install etcd locally by yum.

`Goal`: Run the simulator locally or in a container with (or without) utilising the etcd that is ru

[2022-03-19 13:51] sanposhiho commented on #132
Do you need to use your kube-apiserver and etcd, which have already been running in your container, in the simulator?

[2022-03-19 13:52] sanposhiho commented on #132
If not, I recommend using container image of simulator according to this doc: https://github.com/kubernetes-sigs/kube-scheduler-simulator#run-with-docker

[2022-03-20 17:14] matthewygf commented on #60
Hi @196Ikuchil @sanposhiho , I am planning to work on this feature, additionally, my thoughts are to do something similar to Kube-Scheduler, where these performance metrics are emitted in prometheus metrics format. Something like [this](https://github.com/kubernetes/kubernetes/blob/343958929e084140ed42194d5435dd6e07789eaa/pkg/scheduler/scheduler.go#L585) ? WDYT ?

[2022-03-21 02:22] AlbertZhangHIT commented on #132
@sanposhiho Yes, I need to use my kube-apiserver and etcd that have already been running in two different containers, in the simulator.

[2022-03-22 21:45] deRemo opened #136 "Docker server build error (dial tcp: i/o timeout at step 8/15)"
Hi,

I can't get past step 8/15 (`go mod download`):

Sending build context to Docker daemon  5.879MB
Step 1/15 : FROM golang:1.16.6 AS build-env
 ---> 028d102f774a
Step 2/15 : ENV GOOS=linux
 ---> Using cache
 ---> c2f6d9e6e5d1
Step 3/15 : ENV GOARCH=amd64
 ---> Using cache
 ---> e4e475d8dc3a
Step 4/15 : ENV CGO_ENABLED=0
 ---> Using cache
 ---> b2d174e3711d
Step 5/15 : ENV GO111MODULE=on
 ---> U

[2022-03-22 23:42] sanposhiho commented on #60
Oh, yes. You are right. I misunderstood about the metrics `plugin_execution_duration_seconds` 😓
Change this issue to `make scheduler metrics visible`.

/retitle make scheduler metrics visible

[2022-03-23 01:38] sanposhiho commented on #60
One problem is `pluginMetricsSamplePercent` is const and we cannot change the value. Ideally, I would like to see metrics recorded for all pod schedules. 🤔

I will make a feature request issue to k/k later. We will not know if the request will be approved until discussing it, but consider a work-around or another way if it is not approved.

[2022-03-23 01:53] sanposhiho commented on #60
https://github.com/kubernetes/kubernetes/issues/108903

[2022-03-23 08:06] pravarag commented on #52
Thanks for the above suggestions @sanposhiho and I've raised a WIP PR for now to follow updating the e2e tests as I finish those. One suggestion I'll need, as I'm trying to implement like you mentioned any references I can use for including direct api-testing test cases? Currently, I'm trying to start all the components like apiserver, scheduler etc as in [here](https://github.com/kubernetes-sigs/

[2022-03-24 11:40] sanposhiho commented on #116
/kind feature
/kind bug

[2022-03-24 11:43] sanposhiho commented on #116
/release-blocker

[2022-03-24 11:45] sanposhiho commented on #116
/priority important-soon

[2022-03-24 12:38] 196Ikuchil commented on #116
Hi, @sanposhiho
I'll work on this.
Since in the WebUI calls the apiserver directly, in this issue, I should implement it only on the function of importing the existing cluster?

/assign

[2022-03-24 17:54] deRemo commented on #136
(yeah, it was a temporary problem, I was able to build the next day)

[2022-03-24 17:54] #136 closed

[2022-03-25 06:38] AlbertZhangHIT commented on #132
@sanposhiho Thank you dude. I successfully built the docker images simulator-server and etcd. But I could not build the docker image simulator-frontend because of the network problem. Maybe it's better for me to wait for the image of whole simulator as mentioned in issue [#19](https://github.com/kubernetes-sigs/kube-scheduler-simulator/issues/19).

[2022-03-25 06:38] #132 closed

[2022-03-28 15:17] #95 closed

[2022-03-29 19:27] matthewygf commented on #60
Regarding the metrics available, should we add a metric handler to the simulator server ? WDYT about having our own frontend charts to show these metrics like [dashboard](https://github.com/kubernetes/dashboard/blob/d0ce152691da04b19783ccbf05f804f6f934cc97/src/app/frontend/resource/cluster/node/detail/template.html#L17) (probably need to investigate some of the frontend charts) or using prometheus

[2022-03-30 13:37] 196Ikuchil commented on #133
I'm interested in this issue. (But it may not be completed immediately. Please understand.)
/assign

[2022-04-02 05:08] sanposhiho opened #139 "Deprecate internal Service for each resource (NodeService, PodService... etc)"
WebUI doesn't use handlers and we deprecated handlers.
Services for each resource are created to implement the some specific logic to manage resources in the simulator.
For example, we need to use `GracePeriodSeconds` in the simulator when delete pods, because there are no actual Pods running in the simulator.
https://github.com/kubernetes-sigs/kube-scheduler-simulator/blob/541a021f8b98eb1ae102ec8

[2022-04-02 05:08] sanposhiho commented on #139
/priority important-longterm

[2022-04-02 05:13] sanposhiho commented on #61
/remove-lifecycle stale

Hi everyone, one good news.
@196Ikuchil will be a member of Kubernetes/Kubernetes SIGs Org soon: https://github.com/kubernetes/org/issues/3346
It means he can add a valid review with `/lgtm` on this project. He is one of the most knowledgeable people on this project and made many contributions so far.
Welcome @196Ikuchil, enjoy. 🎉

[2022-04-02 05:19] sanposhiho commented on #74
/remove-lifecycle stale

[2022-04-02 05:19] sanposhiho commented on #20
/remove-lifecycle stale

[2022-04-05 12:29] pravarag commented on #106
/assign

[2022-04-05 15:41] sanposhiho commented on #52
Oops, I missed the comment.

sorry I didn't catch what you mean here. May I ask you to rephrase your point a little more simply? 🙇

In `startComponents`, you want to start all needed components, right?
And what we need to do in the e2e tests is basically just send requests to api-server in each test case and validate responses.
Also, we can know kube-apiserver's URL in `startComponents`. So if we

[2022-04-08 11:00] sanposhiho opened #140 "New feature idea: scenario based simulation"
New feature idea from the discussion with @everpeace @shioshiota @ordovicia @superbrothers.

The current simulator doesn't have the feature allowing users to write some scenarios.

We would like to propose the feature "fake clock" and support scenario based simulation.
Users can write their scenario on the time of  fake clock. And the scheduler and the simulator will work on that clock.
This will

[2022-04-12 10:00] d-ulyanov opened #141 "Scenario based simulation and results comparison"
Hey, collegues!

It would be nice to have such feature as simulation of scheduling results depends on different configs.

My issue: I'd like to find optimal scoring plugin configuration for my cluster to keep best CPU balance between nodes.

What I need:
- define cluster: import app-nodes from my existed cluster with some filters
- define multiple configurations: NodeFit scoring plugin with differ

[2022-04-13 07:59] sanposhiho commented on #141
Hi @d-ulyanov. Thanks for raising the issue.

Coincidentally, I submitted an issue a few days ago proposing a similar feature.
https://github.com/kubernetes-sigs/kube-scheduler-simulator/issues/140
I will post a detailed design doc on #140 soon, so please keep checking #140 and feel free to join the discussion.

We can catch some additional requirements from this issue.

This is not directly relat

[2022-04-13 09:31] sanposhiho opened #142 "filtering resources when import cluster"
Idea from https://github.com/kubernetes-sigs/kube-scheduler-simulator/issues/141
Currently when we import resources on existing clusters, we try to import all resources on that cluster.

It would be nice to be able to define filters to determine which resources to import.

/kind feature

[2022-04-14 15:46] sanposhiho commented on #139
/assign

[2022-04-16 12:31] 196Ikuchil commented on #133
There are several things to consider in this issue.
For example, the permissions of service accounts, some import settings(if need), and so on.
So, my first step is to create a simple manifest for deploy.

[2022-04-17 12:53] sanposhiho opened #144 "Support ReplicaSet"
Let's support ReplicaSet.
The simulator support only resources related to scheduling and ReplicaSet haven't been supported so far because of that.
But, creating high-priority Pods causes two actions on the scheduler in a real cluster when Pods are managed by ReplicaSet, and preempted by that high priority Pod: (high-priority Pod is scheduled, preempted Pod managed by ReplicaSet is re-created and s

[2022-04-18 09:09] 196Ikuchil opened #145 "Frontend raises a TypeError if click a delete button for a Node that does not possess a Pod"
## Problem
Frontend raises a TypeError if click a delete button for a Node without a Pod.
I think it maybe cause by the specified array's index.
I guess that it is related to #115

↓Just before the error
<img width="1427" alt="screenshot" src="https://user-images.githubusercontent.com/22634362/163748817-d346f1af-a64c-42d4-9374-52f72cca2e04.png">

## Full error message on my browser console
[code]

[2022-04-18 10:12] sanposhiho commented on #145
👁️
/assign

[2022-04-18 12:29] sanposhiho opened #147 "kube-apiserver panics when run backend locally"
When run backend locally and send requests from web UI, panics in kube-apiserver.
This issue was also investigated in https://github.com/kubernetes-sigs/kube-scheduler-simulator/pull/121#issuecomment-1097964119

/assign
/kind bug

[2022-04-18 13:49] sanposhiho commented on #140
Wrote the detailed proposal for this: https://bit.ly/scenario-based-scheduler-simulation

[2022-04-18 14:38] sanposhiho commented on #77
I think we can close this by #121.
Thanks a lot @matthewygf !

/close

[2022-04-18 14:38] #77 closed

[2022-04-18 16:02] #145 closed

[2022-04-18 16:09] 196Ikuchil opened #149 "Reset function completely deletes all resources, including system's priorityclass"
## Problem
The reset function completely deletes all resources, including the system's priorityclass.

After the simulator is launched, these two `PriorityClass`, `system-cluster-critical` and `system-node-critical`, are created automatically.
But this `Reset function` removes these from the simulator, too.
I think that these two `PriorityClass` should be kept.

↓After the `RESET`.
<img width="141

[2022-04-23 01:16] 196Ikuchil opened #150 "Fix to `BASE_URL` and `KUBE_API_SERVER_URL` can be set in env for frontend image"
## Problem
Currently, Nuxtjs(frontend framework) can be set `BASE_URL` and `KUBE_API_SERVER_URL` via `.env` file.
However, it is better to specify both values from the env in the manifest file (such as `docker-compose.yaml`).

/priority important-soon
/kind feature
/assign

[2022-04-24 07:21] 196Ikuchil opened #151 "[Frontend] `Reset` returns a success message even if it fails"
When we click a `RESET` button, it  returns a success message even if it fails
/kind bug

[2022-04-24 07:25] 196Ikuchil opened #152 "[Frontend]`resetStore` is not store any data."
I think that the `resetStore` does not store any resource data.
So it is better to call the API directly in the `ResetButton` component.

/kind cleanup

[2022-04-26 02:10] #42 closed

[2022-04-28 08:03] CharlesQQ opened #155 "Is there roadmap for `kube-scheduler-simulator`?"

[2022-04-30 03:37] sanposhiho commented on #152
👍

[2022-04-30 03:42] sanposhiho opened #156 "Rename the environment variable `FRONTEND_URL` to `CORS_ALLOWED_ORIGIN_LIST`"
To be more general meaning.
https://github.com/kubernetes-sigs/kube-scheduler-simulator/blob/master/config/config.go#L25

/kind cleanup

[2022-04-30 03:59] sanposhiho commented on #150
/kind bug

[2022-04-30 04:00] sanposhiho commented on #140
/priority important-longterm

[2022-04-30 04:40] sanposhiho commented on #156
/assign

[2022-04-30 05:25] sanposhiho commented on #55
We can close this because https://github.com/kubernetes-sigs/kube-scheduler-simulator/pull/138 will add the doc for each env.
/close

[2022-04-30 05:25] #55 closed

[2022-04-30 13:03] sanposhiho opened #159 "New feature idea: kube-scheduler-simulator-operator"
## What I want to introduce

custom resource `Simulator` and custom controller to manage that

---

The controller will be included in the simulator backend binary/container image.
And what I'd like to propose is not create `Simulator` CRD on real kube-apiserver, but create it on kube-apiserver included in our simulator. (This could be a point for discussion tho.) All users need to do to use kube-

[2022-05-05 18:08] 196Ikuchil opened #160 "[Frontend]Specific imported PersistentVolume imported can't be deleted"
## Problem
Specific imported PersistentVolume imported can't be deleted from web UI.
Delete request looks like successful.
Am I mistaken?

Note:
- That PV has been created by minikube.
- PVs created by me can be deleted.

## Request & Response details

[code]

## PV details
[code]

[2022-05-05 18:08] 196Ikuchil commented on #160
/kind bug

[2022-05-06 01:52] 196Ikuchil commented on #160
## On successful
PVs created by me can be deleted.
[code]

[2022-05-06 02:40] 196Ikuchil commented on #160
I found the cause.
Because we can't delete the other namespaced PVC from web UI, we also fail to delete the PV.
[code]
This issue may be solved by #84. So, this is a duplication.
/close

[2022-05-06 02:40] #160 closed

[2022-05-06 03:02] 196Ikuchil commented on #84
Hi @momom-i✋
Are you currently working on this?
Would you like me to take it on?

[2022-05-06 04:08] momom-i commented on #84
@196Ikuchil Hi! No, I'm not working on it so you can take this freely.

@sanposhiho I've been a bit busy right now, but I'd like to contribute to this project. So I hope I can be back in the near future and we can work together :)

[2022-05-06 04:31] 196Ikuchil commented on #84
@momom-i Thanks for the reply👌 Have a good GW.

/assign

[2022-05-06 06:21] #48 closed

[2022-05-06 06:28] 196Ikuchil opened #161 "New namespaces won't be created"
# Problem
New namespaces won't be created.
It must be created, explicitly.
In the current implementation, even if we specify a new namespace (excluding "default"), that new one won't be created.

# References
https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.19/#create-namespace-v1-core

/kind bug

[2022-05-06 06:41] sanposhiho commented on #161
What's client did you use? I can create the namespace at least by kubectl

[code]

[2022-05-06 06:45] sanposhiho commented on #161
In the current implementation, even if we specify a new namespace (excluding "default"), that new one won't be created.

Okay, maybe you misunderstood about namespace. It's not bug.

/close

[2022-05-06 06:46] #161 closed

[2022-05-06 06:46] sanposhiho commented on #161
namespace support is tracked on https://github.com/kubernetes-sigs/kube-scheduler-simulator/issues/84

[2022-05-06 06:52] sanposhiho commented on #84
implementation tasks:
- [ ] Design how to show Pods on namespace
  - I, personally, think it's difficult to show on current Web UI 😓 . And given the current web UI may be deprecated, just add namespace column on table views is enough..?
- [ ] support namespace as other resources.
  - create namespace store, API client functions for namespace... etc

[2022-05-06 07:44] 196Ikuchil commented on #84
@sanposhiho
For about #161.
Sorry for the lack of explanation.
I'm not talking about `client`.

When we use the importing function, some namespaced resources may belong to various namespaces.
And if we operate these resources (e.g. Delete), we call our API directory from web UI. Therefore, the namespace must also be registered with the API

The importing function call `Apply` method on each Resour

[2022-05-06 07:52] sanposhiho commented on #116
/reopen

We need to import namespace.

[2022-05-06 08:22] sanposhiho commented on #155
No, but these issues are important ones.
https://github.com/kubernetes-sigs/kube-scheduler-simulator/issues?q=is%3Aissue+is%3Aopen+label%3Apriority%2Fimportant-longterm+label%3Akind%2Ffeature+

[2022-05-06 08:28] sanposhiho commented on #35
/priority important-longterm

[2022-05-06 08:40] sanposhiho commented on #74
/close

already supported in #121

[2022-05-06 08:40] #74 closed

[2022-05-06 08:47] sanposhiho commented on #60
@matthewygf

Sorry, I missed your comment.

Yeah, hmm, I prefer the former. But, charts in frontend.. It could be a very tough road because at least I'm not very familiar with frontend... 😓 It would be so much easier if there were a public component or a public library to show charts from data in the form of grafana.

[2022-05-06 09:00] sanposhiho commented on #22
/remove-lifecycle stale

[2022-05-06 14:22] 196Ikuchil commented on #84
And also there is another bug.
We can't use `metav1.NamespaceAll` in call `DeleteCollection` method.
[code]
https://github.com/kubernetes-sigs/kube-scheduler-simulator/pull/137/files#diff-375d57e386f20eaa5f09f02bb9d28bfc48ac3dca18d0325f59492208219e5618R112

Therefore, I think it needs to be modified to check all namespaces recursively.
This issue will be resolved in #162.

[2022-05-06 14:52] matthewygf commented on #60
No problem @sanposhiho , I will have a look at it ~

[2022-05-06 14:55] matthewygf commented on #159
+1 for the SimulatorName for each different scenarios!

[2022-05-07 02:01] 196Ikuchil commented on #151
/assign

[2022-05-07 04:35] 196Ikuchil commented on #152
/assign

[2022-05-07 04:36] 196Ikuchil commented on #125
/assign

[2022-05-07 16:42] 196Ikuchil commented on #120
I think that this is one of the ways to implement it. (To use the `watch` function(`list` function with `watch` query) .)
Example: https://learnk8s.io/real-time-dashboard

[2022-05-08 08:45] 196Ikuchil commented on #120
I checked the `list` API(with the `watch` query).
My checked code is like this.
[code]

And then I verified that we will be notified immediately via the API.
Therefore, if you support this API and update all resources regularly, it would be good to use only this API to update each resource. (Currently, each resources updates occur with every resource creation, deletion, or modification. I think we

[2022-05-08 15:06] 196Ikuchil commented on #120
In the current implementation, we use `axios` to call APIs.
But that issue indicates that it doesn't support stream response.
https://github.com/axios/axios/issues/479

Unfortunately, the `list`(with `watch` query) method returns stream response.
So, we maybe also use `fetch` function when call `list`.

[2022-05-09 16:41] sanposhiho commented on #60
One approach is to process the grafana data on the simulator api into a form that is easy to display on the front end, and then display it on the front end using some library or component.

It seems vuetify has the component to write a simple graph. (But, not sure whether the component is sufficiently expressive)
https://vuetifyjs.com/en/components/sparklines/

[2022-05-10 13:44] 196Ikuchil commented on #120
/assign

[2022-05-10 14:08] 196Ikuchil opened #166 "[Frontend] Use GenerateName instead of Name in resource templates"
# Problem
Duplicate auto-completed resource names on new.
(I don't know whether it is called `auto-complete`.)

e.g.)
- Create `New Pod`. (the pod name will be `pod1`.)
- Create `New Pod`.(the pod name will be `pod2`.)
- Delete `pod1`.
- Try to create `New Pod`. (the name will be `pod2`) ← `pod2` already exists.

[2022-05-10 17:11] #151 closed

[2022-05-12 19:28] sanposhiho opened #167 "New feature Idea: scenario-based benckmark testing on kube-scheduler-simulator"
https://github.com/kubernetes-sigs/kube-scheduler-simulator/issues/140 tries to add the scenario based simulation feature to kube-scheduler-simulator and it will be one of the usecases of kube-scheduler-simulator-operator.
(For more details about the scenario based simulation, please see https://bit.ly/scenario-based-scheduler-simulation.)

With the similar way, we can support benchmark testing fo

[2022-05-13 08:57] sanposhiho commented on #155
You can see all my thoughts/ideas for this project from the issues, and if y'all have the ideas for features or improvements for this project, you also can create the issue like me.
This project is open-source; we are always open to everyone's new ideas.

[2022-05-14 14:04] sanposhiho commented on #166
/retitle [Frontend] Use GenerateName instead of Name in resource templates

https://github.com/kubernetes-sigs/kube-scheduler-simulator/tree/master/web/components/lib/templates

[2022-05-14 15:49] sanposhiho commented on #167
/unassign

[2022-05-14 15:58] 196Ikuchil commented on #167
I'm going to give it a shot👌
/assign

[2022-05-15 01:49] aibarbetta commented on #166
Hi all, is this a good first issue? If so, can you tell me a little more about what needs to be done? I see the use of name instead of generateName here https://github.com/kubernetes-sigs/kube-scheduler-simulator/blob/77a0cc568cdaa536ff1bc9c88f1ce9947ec60185/web/components/lib/template.ts#L14 but do you also want to start using hashes here https://github.com/kubernetes-sigs/kube-scheduler-simulato

[2022-05-15 04:26] sanposhiho commented on #166
@aibarbetta

Yes, it's easy one.
Feel free to assign yourself. (You can assign yourself to this issue by commenting `/assign`.)

We have templates for each resources:
https://github.com/kubernetes-sigs/kube-scheduler-simulator/tree/master/web/components/lib/templates

And, as you found, the name is shown by adding suffix, the current number of resources, to the name.
I guess all we need to resolve

[2022-05-15 17:04] pravarag commented on #52
Apologies for the delayed response.

I think you mentioned right on point what I was looking for. I was actually looking for ways to get the validation responses from different components like kube-apiserver you mentioned above. I'll follow the same and make changes to current code. Thanks @sanposhiho

[2022-05-15 22:29] aibarbetta commented on #166
Thanks @sanposhiho!
/assign

[2022-05-17 04:00] lggeor opened #170 "Is there any way to simulate our own scheduler developed based on Scheduling Framework"
We have a scheduler developed based on k8s Scheduling Framework。Is it possible to use this simulator to simulate our customized scheduler?

[2022-05-17 06:25] sanposhiho commented on #8
Oh, really? I don't think so. 😅

/reopen

[2022-05-17 06:26] sanposhiho commented on #8
/priority important-longterm

[2022-05-17 06:26] sanposhiho commented on #170
I guess you can simulate your scheduler by changing here to initialize your scheduler.
https://github.com/kubernetes-sigs/kube-scheduler-simulator/blob/f22c7414fe7e1c293f45c558180b16443b482149/scheduler/scheduler.go#L86

We know that support for custom schedulers and custom plugins can be very valuable, and we have some ideas for them.
https://github.com/kubernetes-sigs/kube-scheduler-simulator/is

[2022-05-17 17:19] pravarag opened #171 "Implementation examples for different use-cases"
While trying to use `kube-scheduler-simulator`, at times I've missed going through some implementation examples which could help especially at the beginner level. We do have some api samples to follow here: https://github.com/kubernetes-sigs/kube-scheduler-simulator/tree/master/docs/api-samples/v1 but I was thinking if we can also have some examples just like we have for Descheduler here: https://

[2022-05-18 12:53] 196Ikuchil commented on #120
https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events#receiving_events_from_the_server

We can only 6 stream connections, but we should not fix the settings.
Therefore, I thought it should be implemented to support TLS and connect with the `http2` protocol.

[2022-05-18 14:08] #152 closed

[2022-05-18 14:45] sanposhiho opened #173 "internal KEP process for this repo"
Like scheduler-plugin, I'd like to introduce KEP process for this repo.
https://github.com/kubernetes-sigs/scheduler-plugins/tree/master/kep

- [ ] create `/kep` dir
- [ ] add doc (What is KEP? What kind of features needs KEP? How to write that? Where is the template?)

/assign
/kind documentation

[2022-05-18 16:14] 196Ikuchil opened #175 "TLS supports on `apiserver`"
Let's support the `TLS` connection in the development environment.

We'd like to use multiple stream connections to apiserver via `http2`. (See also #120)
However, if we use `http2', we must use `HTTPS` for the connection from browser to the `apiserver`.

[2022-05-18 16:19] tommazzo89 opened #176 "Access kube-apiserver with kubectl"
Hi all,

I would like to use kube-scheduler-simulator to test our own scheduler. Based on #170, I should be able to include our scheduler in the build. But I need to add some CRDs before the test as well. I could do this manually via kubectl, but unfortunately I don't know how to get the appropriate KUBECONFIG.

I know that the apiserver is exposed (#55) on port 3131 and I can also see the request

[2022-05-19 06:01] sanposhiho commented on #176
Hi.

We don't provide the way to generate kubeconfig, but, you don't need to create kubeconfig.
Just using `--server` is an easy way.

<img width="579" alt="スクリーンショット 2022-05-19 14 55 17" src="https://user-images.githubusercontent.com/44139130/169220173-155d32df-555a-455e-a1e5-a2bec09cad9f.png">

Yeah, we don't run kubelet in the simulator, so `node.status.allocatable` isn't updated...
But, the sc

[2022-05-19 06:01] sanposhiho commented on #176
/kind support

[2022-05-19 06:02] sanposhiho commented on #170
/kind support
/kind feature

[2022-05-19 09:32] #150 closed

[2022-05-19 13:04] tommazzo89 commented on #176
It's working perfectly. Thanks a lot!

[2022-05-19 13:04] #176 closed

[2022-05-21 11:02] #173 closed

[2022-05-23 15:51] 196Ikuchil opened #179 "[Frontend]Filter and Score result panel disappeared if enable the `edit` radio button once."
## Problem

<img width="1007" alt="スクリーンショット 2022-05-24 0 41 05" src="https://user-images.githubusercontent.com/22634362/169858366-a3eb88bf-8a1c-4387-a5dc-fbe173c23498.png">

↓
<img width="1011" alt="スクリーンショット 2022-05-24 0 41 23" src="https://user-images.githubusercontent.com/22634362/169858418-c2f79cd2-1517-418b-ac2c-cd19801a5e94.png">

↓
<img width="1008" alt="スクリーンショット 2022-05-24 0 41 30" src="

[2022-05-23 16:04] 196Ikuchil opened #180 "[Frontend]Filter and Score results panel appear in other resource panel after opening the Pod panel"
## Problem
<img width="1131" alt="スクリーンショット 2022-05-24 0 51 42" src="https://user-images.githubusercontent.com/22634362/169860750-a8d48087-059e-40a6-8e83-600268863c2b.png">

↓
<img width="1297" alt="スクリーンショット 2022-05-24 0 51 52" src="https://user-images.githubusercontent.com/22634362/169860842-d16e107e-ff77-4e66-8bc7-a42b72e987f1.png">

[2022-05-24 02:33] sanposhiho opened #181 "Run deployment controller and replicaset controller"
I think we don't need to support it on WebUI (to avoid making it more complicated), but it's useful to support deployment and replicaset at least in the simulator's api-server.

/kind feature

[2022-05-24 09:05] 196Ikuchil commented on #181
Relates #144?

[2022-05-24 09:05] 196Ikuchil commented on #180
/kind bug

[2022-05-24 09:05] 196Ikuchil commented on #179
/kind bug

[2022-05-24 15:31] sanposhiho commented on #181
Oh~~, I've already created the issue for this topic. Thanks

/close

[2022-05-26 16:43] 196Ikuchil commented on #175
/assign

[2022-05-29 04:54] #166 closed

[2022-05-29 10:28] #8 closed

[2022-06-01 05:52] sanposhiho commented on #180
Hmm, it's strange 🤔

[2022-06-03 08:33] sanposhiho commented on #17
/remove-lifecycle stale
/triage accepted

[2022-06-03 08:34] sanposhiho commented on #19
/triage accepted
Not to mark as stale.

[2022-06-03 08:35] sanposhiho commented on #46
/remove-lifecycle stale

/triage accepted
Not to mark as stale.

[2022-06-03 08:39] sanposhiho commented on #35
/close

[2022-06-03 08:49] sanposhiho opened #182 "Support external scheduler"
There is great value for this project to support many types of schedulers.

Just replacing [here](https://github.com/kubernetes-sigs/kube-scheduler-simulator/blob/9de8c472f348b31437cce5ca2a34506f874cdddb/scheduler/scheduler.go#L86) to create user's scheduler is the easy way for users to use their scheduler in simulator, but, if user's scheduler is based on different version of Kubernetes or built

[2022-06-03 08:50] sanposhiho commented on #35
Sorry mistake.

/reopen

[2022-06-03 15:36] markstur commented on #46
Thank you @sanposhiho .  Sorry for the delay. I made progress on this but have been working on other things. Will update soon.

[2022-06-07 09:23] sanposhiho opened #183 "Support Extenders"
Currently, we only supports plugins in scheduling frameworks.
It would be nice if we can support Extenders and see the result of extenders like plugins in the simulator.

/kind feature
/triage accepted
/priority important-longterm

[2022-06-07 10:16] sanposhiho commented on #46
No worries :)

[2022-06-07 10:16] sanposhiho commented on #20
/triage accepted
Not to mark as stale.

[2022-06-07 10:16] sanposhiho commented on #22
/triage accepted
Not to mark as stale.

[2022-06-07 10:17] sanposhiho commented on #35
/triage accepted
Not to mark as stale.

[2022-06-07 10:17] sanposhiho commented on #60
/triage accepted
Not to mark as stale.

[2022-06-07 10:17] sanposhiho commented on #84
/triage accepted
Not to mark as stale.

[2022-06-07 10:18] sanposhiho commented on #130
/remove-lifecycle stale

[2022-06-07 10:19] sanposhiho commented on #116
/triage accepted
Not to mark as stale.

[2022-06-07 10:19] sanposhiho commented on #120
/triage accepted
Not to mark as stale.

[2022-06-07 10:20] sanposhiho commented on #139
/triage accepted
Not to mark as stale.

[2022-06-07 10:20] sanposhiho commented on #140
/triage accepted
Not to mark as stale.

[2022-06-07 10:20] sanposhiho commented on #142
/triage accepted
Not to mark as stale.

[2022-06-07 10:20] sanposhiho commented on #144
/triage accepted
Not to mark as stale.

[2022-06-07 10:20] sanposhiho commented on #149
/triage accepted
Not to mark as stale.

[2022-06-07 10:21] sanposhiho commented on #159
/triage accepted
Not to mark as stale.

[2022-06-07 10:21] sanposhiho commented on #179
/triage accepted
Not to mark as stale.

[2022-06-07 10:22] sanposhiho commented on #180
/triage accepted
Not to mark as stale.

[2022-06-12 11:34] sanposhiho opened #184 "`SchedulerSimulation` CRD to create `Simulator` and run the `Scenario` in the created Simulator"
New `SchedulerSimulation` CRD and controller for it.

The `SchedulerSimulation` resource represents one-shot scheduler simulation, and by creating `SchedulerSimulation` resource in cluster, users can run `Simulator` and run `Scenario` in that simulator.
(`Scenario` is the CRD to run scenario-based simulation introduced in https://github.com/kubernetes-sigs/kube-scheduler-simulator/issues/140.)
(`S

[2022-06-13 23:38] markstur commented on #109
/remove-lifecycle stale

[2022-06-15 08:10] pravarag commented on #52
@sanposhiho , apologies for the delay on this PR as this is pending from long time. I'll work this on priority and will try to finish soon.

[2022-06-15 15:00] 196Ikuchil opened #188 "Future direction of Frontend for KEP-140 and KEP-159"
## Problem
In #140, #159, and #184, our simulator would be big changes.
But the current frontend is not suited for the new features.
#
## Possible Issues
I think that we need to decide on two broad problems, at least.
- Result view
  - We must implement a new view to see some `scenario` results.
  - The new features are completely different from the current view.
- Method to choose the simulator,

[2022-06-15 15:20] 196Ikuchil commented on #188
/kind feature

[2022-06-15 15:26] 196Ikuchil commented on #175
`TLS` is important for our security.
But this issue's main objective was for PR #120.
And that issue would be solved with a different approach, not need the `TLS`.

Therefore, I close this issue at this time.

/close

[2022-06-15 15:26] #175 closed

[2022-06-21 12:43] sanposhiho commented on #91
ganna close this since there is no clear direction.

/close

[2022-06-21 12:43] #91 closed

[2022-06-25 07:18] 196Ikuchil commented on #188
+1: Nice idea!
At least, it would be useful for users to have a UI that resembles a web browser.

[2022-06-25 07:59] 196Ikuchil opened #189 "Reorganize for the root directory"
## Problem
The current root directory has a lot of directories.
Don't you think it's a little confusing?
I propose to combine the directories related to the Service into one directory.

[code]

Cool directory Name Wanted!

/kind cleanup

[2022-06-25 13:34] 196Ikuchil commented on #189
Also, consider #139.

[2022-07-01 08:45] sanposhiho commented on #189
H-m, I think it's sometimes difficult to decide which is `service` and which isn't `service`.
I feel it doesn't make much sense, just deepens the nest.

[2022-07-02 03:52] sanposhiho opened #191 "move simulator-server go module to another one directory"
Currently, we have one go module in root dir.
https://github.com/kubernetes-sigs/kube-scheduler-simulator/blob/master/go.mod

And, we need to create other go modules for these KEPs.
https://github.com/kubernetes-sigs/kube-scheduler-simulator/tree/master/keps/140-scenario-based-simulation
https://github.com/kubernetes-sigs/kube-scheduler-simulator/tree/master/keps/159-scheduler-simulator-operator
h

[2022-07-02 04:02] sanposhiho commented on #191
Also, need to change prow-job
https://github.com/kubernetes/test-infra/tree/master/config/jobs/kubernetes-sigs/kube-scheduler-simulator

[2022-07-04 09:46] JulianTS opened #192 "Use API with script instead of frontend"
Hey,

The simulator already helped me a bunch to develop and test custom plugins!!

I discovered the address and port of the server in the documentation but wondered if I can control everything with an extern script via the API instead of the frontend?
Could not find the endpoints for scheduling/deleting pods and retrieving the scores yet which would be important.

Thanks in advance!!

Currently w

[2022-07-05 13:51] sanposhiho commented on #192
Hello.

The kube-apiserver inside of simulator can be accessed from outside of the simulator. That means you can use kubectl or client-go (or another k8s clients) to create/edit/delete any resource in simulator.

- To delete Pod, you can use any k8s client as described above.
- To schedule Pods, you only need to create Pods. (Scheduler automatically find the non-scheduled Pods and try to schedule

[2022-07-06 10:07] #79 closed

[2022-07-07 14:35] #191 closed

[2022-07-07 15:36] #189 closed

[2022-07-09 02:20] sanposhiho commented on #192
Probably like this?

[code]

[2022-07-09 02:21] sanposhiho commented on #192
Since not all users are familiar with kubeconfig format, it may be better to add this^ kubeconfig example in doc :)

[2022-07-09 03:17] sanposhiho commented on #192
https://github.com/kubernetes-sigs/kube-scheduler-simulator/pull/197

[2022-07-09 05:08] sanposhiho opened #198 "Cluster Autoscaler support"
The Cluster Autoscaler is one of the best friends of scheduler. It creates the Nodes when there are no enough Nodes in cluster, and it deletes the Nodes when there are too many Nodes in the cluster .

I'm wondering if we can use it with simulator.

I think the first step of introducing this is only to provide the doc to connect CA to simulator's kube apiserver.
At least for now, I don't think we n

[2022-07-09 05:18] sanposhiho commented on #198
We need to think about how to handke cloud provider of CA

[2022-07-09 17:14] 196Ikuchil opened #201 "`/simulator/submodules/kubernetes` was Removed."
This problem was caused by #193.

Before #193
https://github.com/sanposhiho/kube-scheduler-simulator/tree/a3dd22af5997b2eb2d2a69e3bed5f604e25611c3/submodules

After #193
https://github.com/sanposhiho/kube-scheduler-simulator/tree/e3662ec00dfe1c661ce2fd69eaeece732a4e3ccf/simulator/submodules

/kind bug
/priority important-soon
/assign @sanposhiho

[2022-07-09 17:27] sanposhiho commented on #201
Nice catch. will fixed by #202

[2022-07-10 02:10] 196Ikuchil opened #203 "`make tools` raise an error."
## Problem
When I clone this project and run `make tools` on a completely new PC, I get the following error.
Does this occur in your environment?
[code]

## To resolve
If to resolve it, you run `go get github.com/prometheus/client_golang/prometheus@v1.7.1` in the `/tools` directory.

## Full logs
[code]
go version
[code]

[2022-07-10 02:25] #201 closed

[2022-07-10 02:39] sanposhiho commented on #203
[code]

🤔

[2022-07-10 02:43] sanposhiho commented on #203
[code]

🤔 🤔

[2022-07-10 02:47] sanposhiho commented on #203
understood the cause, let me fix.

/assign

[2022-07-10 07:15] #203 closed

[2022-07-10 14:48] 196Ikuchil opened #206 "`make generate` raise some errors"
## Error log

[code]

[code]

/kind bug

[2022-07-10 14:50] 196Ikuchil commented on #206
I think that this bug existed before PR#205 was merged.

This article may help us.
https://dev.to/acetorscode/comment/1f1ma

[2022-07-10 15:03] 196Ikuchil commented on #206
This bug also occurs in `go1.17.10`.

[2022-07-10 15:15] 196Ikuchil commented on #206
If importing the `github.com/golang/mock/mockgen/model` package in  `/simulator/simulator.go`, this bug will be resolved, I checked.
[code]

But I think it is not cool.

[2022-07-11 01:20] sanposhiho commented on #206
/assign

#207

[2022-07-11 10:57] #206 closed

[2022-07-22 10:36] sanposhiho commented on #182
/retitle Support external scheduler

[2022-07-23 11:20] JulianTS commented on #192
I have one last rather off topic question

I wanted to add a simple NormalizeScore function to your nodenumber example plugin which currently looks like this:

[code]

but I get errors while building

Did I miss anything, do I have to modify any additional code?

[2022-07-26 09:48] JulianTS commented on #192
the simulation works great, except for some random UnhandledPromiseRejectionWarnings I have to fix now

thanks for your help!

[2022-07-26 09:48] #192 closed

[2022-07-26 09:56] sanposhiho commented on #141
The scenario based simulation feature will be implemented as the following proposal.
https://github.com/kubernetes-sigs/kube-scheduler-simulator/tree/master/keps/140-scenario-based-simulation

And the comparison way will be provided as the function to analyze `status.scenarioResult.Timeline`.
Thanks @d-ulyanov for raising the issue with the detailed usecase. 👍

I gonna close this issue as duplicat

[2022-07-26 09:57] #141 closed

[2022-07-26 10:57] JulianTS opened #210 "Custom Plugin Implementation depricated?"
Is it depricated since the simulator got moved to its own directory?

Tried to implement nodenumber in the config as follows:

[code]
[code]

I get this error while building

`
executor failed running [/bin/sh -c go build -v -o ./bin/simulator simulator.go]: exit code: 1
make: *** [docker_build_server] Error 1
`

and didn't have this problem, at least with nodenumber, ~15 commits ago

[2022-07-26 11:10] sanposhiho commented on #210
/kind bug
/assign

Let me check.

@JulianTS Could you show me the full error log?

[2022-07-26 11:35] JulianTS commented on #210
How do I get this error log?

[2022-07-26 11:39] sanposhiho commented on #210
You got error while building simulator, so, I think you can see what the `go build` complains by running `make build`

[2022-07-26 13:41] JulianTS commented on #210
`make build` doesn't have any output in my terminal

and all I get from `make docker_build_and_up`  is

[code]

[2022-07-30 04:01] 196Ikuchil commented on #183
First, it will be supported only in the scheduler and simulator-server.
Implementation on the WebUI side and functions such as Wrappedplugin will come later.

/assign

[2022-08-03 15:21] pravarag commented on #106
/remove-lifecycle rotten

[2022-08-09 18:58] #41 closed

[2022-08-14 04:24] sanposhiho commented on #120
/reopen

[2022-08-14 23:09] sanposhiho opened #214 "record multiple scheduling results on Pod"
## What

recording multiple scheduling results on Pod.

## Why

Currently, all results are stored in the fixed annotations in Pod.
https://github.com/kubernetes-sigs/kube-scheduler-simulator/blob/master/simulator/scheduler/plugin/annotation/annotation.go
That means if the scheduler tries to scheduler a Pod multiple times, the scheduling result always overwrites the previous result and only the lat

[2022-08-14 23:09] sanposhiho commented on #214
/kind feature

[2022-08-14 23:35] sanposhiho opened #215 "record who PostFilter preempts"
Currently we only record the result of Filter/Score(NormalizedScore).
Preemption is one of the most complicated parts in scheduler and it's worth having the feature to see the result of it.

/kind feature
/triage accepted

[2022-08-15 00:38] sanposhiho opened #216 "[Scenario] record when the scheduler tries to schedule Pods on Pod annotation"
It's important for those who analyze the scheduler by using Scenario to see when the scheduler tries to schedule Pods.

We record them only when the running Scenario exists and the time should be represented in `ScenarioStep` of running Scenario.

/assign
/kind feature

[2022-08-21 08:39] sanposhiho opened #218 "refactor `reset` service to use etcd client"
Currently, the reset service tries to delete resources through k8s API server.
https://github.com/kubernetes-sigs/kube-scheduler-simulator/blob/master/simulator/reset/reset.go

But, this way can only delete resources that are known by the simulator. We cannot delete resources that aren't supported by simulator or custom resources.

I'd suggest that use etcd client library and delete all the data c

[2022-08-21 08:40] sanposhiho commented on #218
/kind feature

[2022-08-22 06:17] sanposhiho opened #219 "Support descheduler"
descheduler: https://github.com/kubernetes-sigs/descheduler

/kind feature
/triage accepted
/priprity important-longterm

[2022-08-30 06:03] 196Ikuchil commented on #144
/assign

[2022-08-30 06:04] 196Ikuchil commented on #215
/assign

[2022-08-30 06:28] #61 closed

[2022-08-31 15:21] Telemaco019 opened #221 "Support Kubernetes versions > 1.22"
Hello everyone,

Right now the simulator uses Kubernetes v1.22.0 (end of life is 2022-10-28). It would be nice if it supported later k8s versions such as v1.23 and v1.24 so that it would also be compatible with the latest versions of the [scheduler-plugins](https://github.com/kubernetes-sigs/scheduler-plugins), which are compiled using k8s versions v1.23 and v1.24.

[2022-08-31 15:23] sanposhiho commented on #221
Yeah, definitely we should do it...

/kind cleanup
/priority important-soon
/triage accepted

[2022-08-31 15:31] sanposhiho commented on #221
And another possible and general solution against this kinda version issue is https://github.com/kubernetes-sigs/kube-scheduler-simulator/issues/182
Once we support an external scheduler, users can use it when they wanna use schedulers based on other version of kubernetes.

[2022-08-31 15:32] sanposhiho commented on #46
@markstur Would you mind my taking over this?
It blocks the version update.
https://github.com/kubernetes-sigs/kube-scheduler-simulator/issues/221

[2022-08-31 15:36] sanposhiho commented on #182
/priority important-soon

[2022-08-31 15:36] sanposhiho commented on #182
/remove-priority important-soon

[2022-08-31 15:36] sanposhiho commented on #182
/remove-priority important-longterm

/priority important-soon

[2022-08-31 15:37] sanposhiho commented on #182
give this a higher priority. It will important both for version issue and scenario API.

[2022-08-31 16:48] markstur commented on #46
Hello @sanposhiho

I have an update.  I had to rebase/update and figured out that the vendoring, submodule, test updates, etc should be a separate PR before introducing all the config+multipoint changes.  So I just pushed PR and tagged you ( #222 ).  I made that "Part of" this issue, but we should do version updates separately before changing the config and functionality.

Next my multipoint code

[2022-09-03 11:50] sanposhiho commented on #46
Thanks @markstur, I'll review #222 soon. 👍

[2022-09-03 12:04] sanposhiho opened #223 "`BeforeScore` in `ScorePluginExtender` doesn't need to return scores"
Currently, `BeforeScore` in `ScorePluginExtender` returns scores. and the score will be returned at Score extension when `BeforeScore` returns non-success status.
https://github.com/kubernetes-sigs/kube-scheduler-simulator/blob/bee97d17953bfdbb7ac6dcd03fff3fd7ed8ab923/simulator/scheduler/plugin/wrappedplugin.go#L35

The scheduler will return an error when a score plugin returns non-success status.

[2022-09-03 12:22] sanposhiho commented on #46
btw, I thought v1beta2 component config was completely removed from k/k at v1.24 😓  (That's why I said this issue is blocking the version update.)

[2022-09-03 12:28] sanposhiho commented on #46
So, please feel free to continue to work on this if you like.
I understood that it's actually not blocking version updates there was no need to rush to work on it.

[2022-09-04 02:59] sanposhiho opened #224 "Allow users to configure XXXXPluginExtender so that they can record anything happens in specific plugin"
We have [XXXXXPluginExtender](https://github.com/kubernetes-sigs/kube-scheduler-simulator/blob/bee97d17953bfdbb7ac6dcd03fff3fd7ed8ab923/simulator/scheduler/plugin/wrappedplugin.go#L22) and each extender has `BeforeXXXX` and `AfterXXXX`.
We can run anything before and after a specific plugin's extension point by configuring it. And it would be great if users can configure any plugin extenders to pl

[2022-09-04 03:05] sanposhiho commented on #20
It's created.
/close

[2022-09-04 03:05] #20 closed

[2022-09-04 03:06] sanposhiho commented on #35
I don't think we need this feature since external scheduler would solve version issue.
/close

[2022-09-04 03:06] #35 closed

[2022-09-04 03:07] sanposhiho commented on #52
/area simulator

[2022-09-04 03:07] sanposhiho commented on #60
/area simulator

[2022-09-04 03:07] sanposhiho commented on #84
/area web

[2022-09-04 03:08] sanposhiho commented on #106
/area simulator

[2022-09-04 03:08] sanposhiho commented on #109
/area simulator
/priority important-longterm

[2022-09-04 03:08] sanposhiho commented on #109
/triage accepted

[2022-09-04 03:09] sanposhiho commented on #120
/area web

[2022-09-04 03:10] sanposhiho commented on #130
/area web

[2022-09-04 03:10] sanposhiho commented on #139
/area simulator

[2022-09-04 03:19] sanposhiho commented on #46
/area simulator

[2022-09-04 03:20] sanposhiho commented on #140
/area scenario

[2022-09-04 03:20] sanposhiho commented on #142
/area simulator

[2022-09-04 03:21] sanposhiho commented on #144
/area simulator

[2022-09-04 03:21] sanposhiho commented on #149
/area web

[2022-09-04 03:21] sanposhiho commented on #159
/area simulator

[2022-09-04 03:21] sanposhiho commented on #167
/area simulator

[2022-09-04 03:22] sanposhiho commented on #167
/remove-area simulator
Sorry, we can't know where it will be implemented yet.

[2022-09-04 03:24] sanposhiho commented on #176
Just FYI:
I update documents in https://github.com/kubernetes-sigs/kube-scheduler-simulator/pull/197 and simulator/docs/kube-apiserver.md shows the example of kube config to connect kube-apiserver in simulator.

[2022-09-04 03:24] sanposhiho commented on #179
/area web

[2022-09-04 03:24] sanposhiho commented on #180
/area web

[2022-09-04 03:24] sanposhiho commented on #182
/area simulator

[2022-09-04 03:24] sanposhiho commented on #183
/area simulator

[2022-09-04 03:24] sanposhiho commented on #188
/area web

[2022-09-04 03:24] sanposhiho commented on #198
/area simulator

[2022-09-04 03:25] sanposhiho commented on #214
/area simulator

[2022-09-04 03:25] sanposhiho commented on #215
/area simulator

[2022-09-04 03:25] sanposhiho commented on #216
/area simulator

[2022-09-04 03:25] sanposhiho commented on #216
Also related to scenario
/area scenario

[2022-09-04 03:25] sanposhiho commented on #218
/area simulator

[2022-09-04 03:25] sanposhiho commented on #219
/area simulator

[2022-09-04 03:25] sanposhiho commented on #221
/area simulator

[2022-09-04 03:26] sanposhiho commented on #223
/area simulator

[2022-09-04 03:26] sanposhiho commented on #224
/area simulator

[2022-09-04 03:28] sanposhiho commented on #22
/retitle First release simulator/v0.1.0

I created [priority/next-release](https://github.com/kubernetes-sigs/kube-scheduler-simulator/labels/priority%2Fnext-release) tag, which shows what tasks should be done in next releases.

[2022-09-04 03:30] sanposhiho commented on #224
/priority next-release

[2022-09-04 03:30] sanposhiho commented on #221
/priority next-release

[2022-09-04 03:31] sanposhiho commented on #182
/priority next-release

[2022-09-04 03:31] sanposhiho commented on #183
/priority next-release

[2022-09-04 03:33] sanposhiho commented on #144
/priority next-release

[2022-09-04 03:33] sanposhiho commented on #214
/priority next-release

[2022-09-04 03:34] sanposhiho commented on #214
may need to fix web as well.
/area web

[2022-09-04 15:01] 196Ikuchil commented on #84
I, personally, think it's difficult to show namespace on current Web UI 😓 . And given the current web UI may be deprecated, just add namespace column on table views is enough..?

create New Namepace button, namespace store, API client functions for namespace... etc
https://github.com/kubernetes-sigs/kube-scheduler-simulator/issues/84#issuecomment-1119312105

The first one, I think is related to th

[2022-09-05 02:04] sanposhiho commented on #219
/priority important-longterm

[2022-09-07 07:39] sanposhiho commented on #46
yeah, we should support v1.
/retitle support v1 KubeSchedulerConfiguration

[2022-09-10 08:24] sanposhiho commented on #221
/close

We update to v1.24.3 in https://github.com/kubernetes-sigs/kube-scheduler-simulator/pull/222.
And we'll work on https://github.com/kubernetes-sigs/kube-scheduler-simulator/issues/182 asap so that users can use any schedulers regardless of which version of k/k it uses.

[2022-09-10 08:24] #221 closed

[2022-09-11 07:05] sanposhiho commented on #46
/priority next-release

[2022-09-12 03:22] sanposhiho commented on #182
/assign

[2022-09-13 14:09] #133 closed

[2022-09-17 23:48] sanposhiho commented on #106
/priority next-release

[2022-09-19 03:16] sanposhiho commented on #224
/assign

[2022-09-19 10:30] sanposhiho commented on #214
/remove-priority next-release

[2022-09-20 03:06] sanposhiho commented on #219
Maybe the document is enough for the first step.
/kind documentation

[2022-09-20 03:07] sanposhiho commented on #198
Maybe the document is enough for the first step.
/kind documentation

[2022-09-20 03:17] sanposhiho opened #230 "Support all extension points"
Now, we only support extension points; Filter, Score and NormalizeScore.
Also https://github.com/kubernetes-sigs/kube-scheduler-simulator/pull/220 will support PostFilter.
I'd suggest that we should support all plugins extension points.

/kind feature
/priority important-longterm
/triage accepted

[2022-09-21 04:09] sanposhiho commented on #230
/priority next-release
/assing

[2022-09-21 04:09] sanposhiho commented on #230
/assign

[2022-09-21 04:13] sanposhiho commented on #46
memo: #230 needs to be done before it so that we can simply handle plugins registered in multi point.
Once #230 is done, we can register all kind of plugins as wrapped plugins regardless of which extension point each plugin belongs to.

[2022-09-21 04:14] sanposhiho commented on #215
/priority next-release

[2022-09-22 11:47] #120 closed

[2022-09-24 07:36] #106 closed

[2022-09-24 15:11] 196Ikuchil opened #231 "Move description of env variables on webUI to README under the web directory."
The directory was reorganized a little time ago and separated into web and simulator.
This is the forgotton fix.

We should move it to the README under the `web` directory, I think.
https://github.com/kubernetes-sigs/kube-scheduler-simulator/blob/master/simulator/docs/env-variables.md#for-web-ui

[2022-09-24 15:12] 196Ikuchil commented on #231
/area web

[2022-09-25 03:15] 196Ikuchil opened #233 "Clean up ExportSertive to call each resource API directly"
## Issue
There is some definition of unused methods, I think.
This is because that we have changed each resource API endpoint to be called directly on the webUI.

https://github.com/kubernetes-sigs/kube-scheduler-simulator/blob/e4ef9b7be8e98a5a62c075f060e26ea65fe84f4b/simulator/server/di/interface.go#L21-L81

### Tips
- The `DeleteCollection` methods of each resource will be removed by PR #229.
-

[2022-09-25 03:40] sanposhiho commented on #233
duplicated with #139?

[2022-09-25 04:16] 196Ikuchil commented on #233
oops, sorry. I think this PR is a part of #139.
The #139 indicates that eventually clean up these `Service`.
But it's still used by the `ExportService`. Therefore, this is the first step to archive #139.

[2022-09-25 04:21] 196Ikuchil commented on #233
BTW, any ideas on how to change the ExportService implementation?

[2022-09-25 04:29] sanposhiho commented on #233
we can change the export service to have k8s client directly.
But, it'd be super *mendokusai* 😅 because we need ta change tests to use the fake k8s client.

[2022-09-25 04:42] 196Ikuchil commented on #233
Strong agree... 😇
However, there are currently no problems running the simulator.
So, this is just a small refactor.

[2022-09-25 04:52] 196Ikuchil opened #234 "Stop the fetch when a resource is selected on the webUI."
## Issue
Currently, a `fetch` request will occur if you select a resource on webUI.
https://github.com/kubernetes-sigs/kube-scheduler-simulator/blob/e4ef9b7be8e98a5a62c075f060e26ea65fe84f4b/web/components/ResourceBar/ResourceBar.vue#L194

However, we implement the new feature #211. So, we would not need to use this logic.
(Actually, I forgot to remove these...)

/area web
/kind cleanup

[2022-09-25 04:58] 196Ikuchil commented on #234
There are some concerns.
We must consider the `schedulerconfiguration` and other resources which will not update automatically (This does not exist currently, I think).

[2022-09-25 10:11] 196Ikuchil opened #235 "`yarn format` is not working?"
This issue occurs on my local pc and gitpod both.
[code]
/area web
/kind cleanup

[2022-10-02 15:51] panli889 opened #238 "Custom plugin example NodeNumber is not working as expected"
When I was testing the simulator with custom plugin using the example of how-to-use-custom-plugins, I found it not working as described.

I setup three nodes, and then try to new a pod, in the web, the new pod is in Unscheduled state:
<img width="1177" alt="image" src="https://user-images.githubusercontent.com/3396774/193462747-5289a6bd-cb41-4d4e-a2da-257aebb64fee.png">

when I checked the log of

[2022-10-03 01:54] sanposhiho commented on #238
Thanks for reporting!

/assign
/kind bug

[2022-10-03 02:29] panli889 commented on #238
That's OK!  I'd like to help fixing it, what about just ignoring the error from state.Read in function Score?  :)

[2022-10-03 02:50] sanposhiho commented on #238
👍

/unassign
/assign @panli889

Yeah, seems good.

[2022-10-03 05:24] #238 closed

[2022-10-03 05:25] sanposhiho commented on #238
It's merged, thanks @panli889 !

[2022-10-03 06:20] sanposhiho commented on #224
We may be able to name it `SimulatingFramework`?

[2022-10-03 13:24] sanposhiho commented on #234
👍

Two options here:
- provide schedulerconfiguration's update event from watch API as other k8s resources.
- remove fetching resources only. and fetch schedulerconfiguration when it's selected as web UI does now.

[2022-10-03 13:25] sanposhiho commented on #231
/kind documentation

[2022-10-10 10:09] #155 closed

[2022-10-11 10:42] sanposhiho commented on #17
/remove-lifecycle rotten
/area web

[2022-10-11 10:42] #19 closed

[2022-10-11 10:44] sanposhiho commented on #170
@lggeor We'll have the feature external scheduler. See the progress in https://github.com/kubernetes-sigs/kube-scheduler-simulator/issues/182

I'll close it. If you have any further question, please feel free to reopen it.
/close

[2022-10-11 10:44] #170 closed

[2022-10-14 03:43] sanposhiho opened #243 "Node's `.status.allocatable` should be changed for NodeResourceFit plugin"
NodeResourceFit plugin checks Node's `.status.allocatable` and then give scores on Nodes. So, we need to change `.status.allocatable` according to Pods on Node to simulate NodeResourceFit plugin accurately.

(I'm wondering if we could use [kwok](https://github.com/kubernetes-sigs/kwok) to simulate kubelet..? I'm not familiar with it TBH..)

/kind bug
/triage accepted
/area simulator

[2022-10-14 19:14] #171 closed

[2022-10-24 15:57] sanposhiho opened #245 "Create the component config"
/kind feature
/kind cleanup
/area simulator

Currently, the simulator is configured via environment variables.
https://github.com/kubernetes-sigs/kube-scheduler-simulator/blob/master/simulator/docs/env-variables.md

I'd like to create the component config to configure the simulator and deprecate those envs in the future.

[2022-11-05 04:52] yanghesong commented on #245
/assign

[2022-11-09 17:59] 196Ikuchil opened #247 "New feature idea:`Benchmarker`"
I propose a new feature `benchmarker` idea based on MetricsCollector #246.
In the proposal of the collector, the only responsibility was to collect metrics.  This is to provide a way to access metrics not only from scenarios but also from general tools.

Therefore, the Benchmarker aims to make benchmark tests easily executable by having the `Scenario` and the `Collector` work together.

It would b

[2022-11-09 18:00] 196Ikuchil commented on #247
/kind feature
/priority important-longterm
/assign

[2022-11-10 09:41] #184 closed

[2022-11-15 15:36] sanposhiho commented on #52
@pravarag

We need to have a function to initialize simulator first.

By executing almost the same functions as in ↓, we can run all required components (kube-apiserver, scheduler, controllers etc) + simulation server.
https://github.com/kubernetes-sigs/kube-scheduler-simulator/blob/1a5f4be5b0ec75796d56bd5f967e0658062088d2/simulator/simulator.go#L36-L79

Yes, it's what you are going to do in `star

[2022-11-22 12:59] sanposhiho opened #251 "Integrate kwok into simulator"
In the simulator, we just run almost pure kube-apiserver. The simulator doesn't have much controllers, and something seems actually weird to users sometimes. (like some fields in Pods and Nodes don't get changed, etc)
And, for example, https://github.com/kubernetes-sigs/kube-scheduler-simulator/issues/243 directly affects the scheduling results, which we must avoid as a simulator.

I feel we can a

[2022-11-22 12:59] #243 closed

[2022-11-24 07:10] #215 closed

[2022-11-25 05:42] kerthcet commented on #251
/cc @wzshiming

[2022-11-25 08:13] wzshiming commented on #251
Cool, I think the cluster created by `kwokctl` should not start the scheduler and `kube-scheduler-simulator` should take care of the scheduling, so that kwok should be able to be integrated. What do you think?

[2022-11-25 09:29] sanposhiho commented on #251
Yes. In other words, I feel the simulator should depend on all other parts like running controller-manager, kube-apiserver, etc.
Once kwokctl gets the ability to disable scheduler, we can refactor the simulator's scheduler to run on top of kwok, and this repository can focus on the simulating related stuff.

[2022-11-26 21:54] iqbalsound opened #252 "Error: Network Error"
Hi,
If I am trying to add any Node, pod space, etc, I found the error "**Server Error Occurred <Task I Clicked>, Error; Network Erro**r"
Please guide!
Thank you.
![image](https://user-images.githubusercontent.com/14857544/204110314-544c6fdf-f366-4fdd-a7c7-904324e4d325.png)

[2022-11-27 14:07] iqbalsound commented on #252
Guidance is required in the following:
_Then, you can access the simulator with http://localhost:3000/. If you want to deploy the simulator on a remote server and access it via a specific IP (e.g: like http://10.0.0.1:3000/), please make sure that you have executed export SIMULATOR_EXTERNAL_IP=your.server.ip before running docker-compose up -d._

[2022-11-28 14:28] iqbalsound commented on #252
I was not running "_export SIMULATOR_EXTERNAL_IP=your.server.ip_" before execution of  **make docker_build_and_up**

[2022-11-28 14:28] #252 closed

[2022-11-29 08:49] 26tanishabanik commented on #130
@sanposhiho , @matthewygf , are the allocation rates already being calculated in the backend?

[2022-11-29 08:56] 26tanishabanik commented on #142
@sanposhiho , can you provide more details on this issue?